<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='')">
<!-- Body-->
<!-- Header -->

<head>
</head>

<body>
	<!-- Page Content-->
	<th:block layout:fragment="content">
		<!-- Main Slider-->
		<section class="hero-slider"
			style="background-image: url(img/hero-slider/main-bg.jpg);">
			<!-- Find Guest Form-->
			<div class="col-xl-9 col-lg-8">
				<h2>비회원 주문 찾기</h2>
			</div>
			<hr class="padding-bottom-1x">


			<form class="custom-section" th:object="${ordersGuestDetailDto}">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="orderNo">주문번호</label> <input class="form-control"
							type="text" id="orderNo" name="orderNo" value="orderNo" required
							th:field="*{orderNo}">
						<div id="orderNoError" class="error-message"
							style="color: red; margin-left: 10px;"></div>
					</div>

					<!-- 주문번호 에러 메시지 -->
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="phoneNumber">주문자전화번호</label> <input
							class="form-control" type="text" id="phoneNumber"
							name="phoneNumber" value="phoneNumber" required
							th:field="*{phoneNumber}">
							<div id="phoneNumberError" class="error-message"
							style="color: red; margin-left: 10px;"></div>
					</div>
					
					<!-- 주문자전화번호 에러 메시지 -->
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="name">주문자이름</label> <input class="form-control"
							type="text" id="name" name="name" value="name" required
							th:field="*{name}">
						<div id="nameError" class="error-message"
							style="color: red; margin-left: 10px;"></div>
					</div>

					<!-- 주문자이름 에러 메시지 -->
				</div>

				<hr class="padding-bottom-1x">

				<div class="checkout-footer">
					<div class="column">
						<a class="btn btn-primary" href="#" onclick="guestOrderDetail()">
							<span class="hidden-xs-down">주문찾기&nbsp;</span><i
							class="icon-arrow-right"></i>
						</a>
					</div>
				</div>
			</form>


		</section>

	</th:block>


	<th:block layout:fragment="script">
		<script type="text/javascript">
			function guestOrderDetail() {
				let orderNo = $('#orderNo').val();
				let phoneNumber = $('#phoneNumber').val();
				let name = $('#name').val();
				let data = {
						"orderNo": orderNo,
						"phoneNumber": phoneNumber,
						"name": name
						
				}
				// 에러 메시지 초기화
				$('#orderNoError').text('');
				$('#phoneNumberError').text('');
				$('#nameError').text('');

				if (!orderNo) {
					$('#orderNoError').text('주문번호가 입력되지 않았습니다.');
					$('#orderNo').mouseenter(function() {
						$('#orderNoError').text('');
					});
					return;
				}
				
				if (isNaN(orderNo)) {
					$('#orderNoError').text('주문번호는 숫자를 입력해야 됩니다.');
					$('#orderNo').mouseenter(function() {
						$('#orderNoError').text('');
					});
					return;
				}
				

				if (!phoneNumber) {
					$('#phoneNumberError').text('주문자전화번호가 입력되지 않았습니다.');
					$('#phoneNumber').mouseenter(function() {
						$('#phoneNumberError').text('');
					});
					return;
				}
				 if (!(phoneNumber.includes('-'))) {
					$('#phoneNumberError').text('주문자전화번호의 양식이 잘못되었습니다.');
					$('#phoneNumber').mouseenter(function() {
						$('#phoneNumberError').text('');
					});
						return;
					}

				if (!name) {
					$('#nameError').text('주문자이름이 입력되지 않았습니다.');
					$('#name').mouseenter(function() {
						$('#nameError').text('');
					});
					return;
					
				}
				
				
				$.ajax({
    				url:'/order_guest_detail',
    				method:'GET',
    				data:JSON.stringify(data),
    				dataType: "json",
    				contentType: 'application/json;chrset=UTF-8',
    				success:function(resultJson){
						console.log('post 요청')
    					$('#loginUserId').tooltip('dispose');
    					$('#loginPassword').tooltip('dispose');
    					/*
    		    		 * 0 아이디존재안함
    		    		 * 1 패쓰워드불일치
    		    		 * 2 패쓰워드일치(로그인성공)
    		    		 */
    		    		 if(resultJson.result==0){
    		    			 $('#loginUserId').css('border','0.5px solid orange');
    		    			 $('#loginUserId').tooltip({'trigger':'hover', 'title': resultJson.member.userName+' 는 존재하지않는 아이디입니다.'});
    		    			 $('#loginUserId').tooltip('show');
    		    		 }else if(resultJson.result==1){
    		    			 $('#loginPassword').css('border','0.5px solid orange');
    		    			 $('#loginPassword').tooltip({'trigger':'hover', 'title': '비밀번호가 일치하지않습니다.'});
    		    			 $('#loginPassword').tooltip('show');
    		    		 }else if(resultJson.result==2){
    		    			 $('#form-account-login input').css('border','');
    	    				 $('#loginUserId').tooltip('dispose');
    	    				 $('#loginPassword').tooltip('dispose');
    		    			 location.href='/index';
    		    		 }
    				},
    				error:function(){
    					location.href="/404";
    				}
    			});
				
				
				
				
				
				
				
				
				
				
				
				
				var form = document.createElement('form');

				var orderNoInput = document.createElement('input');
				orderNoInput.type = 'hidden';
				orderNoInput.name = 'orderNo';
				orderNoInput.value = $('#orderNo').val();
				console.log('@@@@@@@@orderNoInput' + orderNoInput.value);

				form.appendChild(orderNoInput);

				var phoneNumberInput = document.createElement('input');
				phoneNumberInput.type = 'hidden';
				phoneNumberInput.name = 'phoneNumber';
				phoneNumberInput.value = $('#phoneNumber').val();
				console
						.log('@@@@@@@@phoneNumberInput'
								+ phoneNumberInput.value);
				form.appendChild(phoneNumberInput);

				var nameInput = document.createElement('input');
				nameInput.type = 'hidden';
				nameInput.name = 'name';
				nameInput.value = $('#name').val();
				console.log('@@@@@@@@nameInput' + nameInput.value);
				form.appendChild(nameInput);
				document.body.appendChild(form);

				form.submit();

			}
		</script>
	</th:block>





</body>

</html>