<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='myOrders')">
<!-- Body-->
<!-- Header -->

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>







	<!-- Open Ticket Modal-->
	<div class="modal fade" id="orderDetails" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Order Details</h4>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">

					<p>팝업 footer</p>

				</div>
			</div>

		</div>
	</div>










	<!-- Page Content-->
	<!-- Main Slider-->
	<th:block layout:fragment="content">
		<div class="container padding-bottom-3x mb-2">
			<div class="row">
				<div class="col-lg-4" th:insert="mypage_component :: mypage">

				</div>
				<div class="col-lg-8">
					<div class="padding-top-2x mt-2 hidden-lg-up"></div>
					<div class="table-responsive">
						<table class="table table-hover margin-bottom-none">
							<thead>
								<tr>
									<th>주문 번호</th>
									<th>주문내역</th>
									<th>주문상태</th>
									<th>주문 가격</th>
									<th>환불 및 취소</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ordersDto : ${orderDtoList}">
									<td th:text="${ordersDto.getId()}"><a
										class="text-medium navi-link" href="#"
										th:onclick="showOrderDetails([[${ordersDto.getId()}]])">
											1234 </a></td>
									<td th:text="${ordersDto.getDescription()}">주문 내역</td>
									<td th:text="${ordersDto.getStateMsg()}">주문 상태</td>
									<td th:text="${ordersDto.getPrice()}"><span
										class="text-medium">$760.50</span></td>
									<td>
										<button class="refund-button"
											th:onclick="requestRefund([[${ordersDto.getId()}]])">환불</button>
										<button class="cancel-button">취소</button>
									</td>

								</tr>


							</tbody>
						</table>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="recommendation"></th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function requestRefund(orderId) {
				console.log('orderId=  ' + orderId);
				let form = document.createElement('form');
				form.method = 'GET';
				form.action = '/refund_main_form/' + orderId;
				document.body.appendChild(form);
				form.submit();
			}
		</script>
		<script th:inline="javascript">
			function showOrderDetails(orderId) {
				console.log('Showing order details for orderId=' + orderId);

				// AJAX를 사용하여 주문 상세 정보를 불러옵니다.
				$.ajax({
					url : '/order/member_order_detail/' + orderId, // 해당 URL을 변경하세요.
					type : 'GET',
					success : function(data) {
						// 성공적으로 데이터를 받았을 때 실행되는 함수
						console.log('Received data:', data);

						// 모달 내용을 업데이트합니다.
						var modalBody = $('#orderDetails').find('.modal-body');
						modalBody.empty(); // 모달 내용 초기화

						// data를 이용하여 모달 내용을 생성
						var orderDetailsHTML = '<h5>Order Details</h5>';
						orderDetailsHTML += '<p>Order ID: ' + data.id + '</p>';
						// 여기에 필요한 정보를 추가하세요.

						modalBody.append(orderDetailsHTML);

						// 모달 열기
						$('#orderDetails').modal('show');
					},
					error : function(error) {
						// AJAX 요청 중 에러가 발생했을 때 실행되는 함수
						console.error('Error fetching order details:', error);
					}
				});
			}
		</script>

	</th:block>

</body>

</html>














