<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='myOrders')">
<!-- Body-->
<!-- Header -->

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	
	
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	
	
	
	
	
	<style>
    button.order-Link {
        background-color: rgba(255, 255, 255, 0.5); /* 배경색을 투명한 흰색으로 설정 */
        border: none; /* 테두리 제거 */
        padding: 0; /* 패딩 제거 */
        text-decoration: none; /* 밑줄 제거 */
        cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하다는 표시 */
        font-size: inherit; /* 폰트 크기를 상속받음 */
        color: #000; /* 텍스트 색상 (예: 검은색) */
        outline: none; /* 포커스 효과 제거 */
    }

    button.order-Link:hover {
        background-color: rgba(255, 255, 255, 0.7); /* 마우스 오버시 미세하게 밝아지도록 설정 */
    }
</style>

</head>

<body>

	<!-- Open Ticket Modal-->
	<div class="modal fade" id="orderDetails" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Order Details</h4>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">

					<p>팝업 footer</p>

				</div>
			</div>

		</div>
	</div>

	<!-- Page Content-->
	<!-- Main Slider-->
	<th:block layout:fragment="content">
		<div class="container padding-bottom-3x mb-2">
			<div class="row">
				<div class="col-lg-4" th:insert="mypage_component :: mypage">

				</div>
				<div class="col-lg-8">
					<div class="padding-top-2x mt-2 hidden-lg-up"></div>
					<div class="table-responsive">
						<table class="table table-hover margin-bottom-none">
							<thead>
								<tr>
									<th>주문 번호</th>
									<th>주문내역</th>
									<th>주문상태</th>
									<th>주문 가격</th>
									<th>환불 및 취소</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ordersDto : ${orderDtoList}">
									<td >
										<button class="order-Link" type="button"data-toggle="modal" data-target="#orderDetails"   data-order-id="27"><span th:text="${ordersDto.getId()}">주문번호</span></button>
									</td>
									<td th:text="${ordersDto.getDescription()}">주문 내역</td>
									<td th:text="${ordersDto.getStateMsg()}">주문 상태</td>
									<td th:text="${ordersDto.getPrice()}"><span class="text-medium">$760.50</span></td>
									<td>
										<button class="refund-button"
											th:onclick="requestRefund([[${ordersDto.getId()}]])">환불</button>
										<button class="cancel-button"
											th:onclick="cancelOrder([[${ordersDto.getId()}]])">취소</button>

									</td>

								</tr>


							</tbody>
						</table>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="recommendation"></th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function requestRefund(orderId) {
				console.log('orderId=  ' + orderId);
				let form = document.createElement('form');
				form.method = 'GET';
				form.action = '/refund_main_form/' + orderId;
				document.body.appendChild(form);
				form.submit();
			}
		</script>
		
		
		
		
		
		
		
		
		<script th:inline="javascript">
			$(document).ready(function () {
				$('.order-Link').click(function (e) {
					e.preventDefault();
					var orderId = $(this).data('order-id');
					console.log("@@@@orderId: "+orderId);// 안들어가
					requestOrderDetails(orderId);
				});

				function requestOrderDetails(orderId) {
					$.ajax({
						url: 'order/member_order_detail' + orderId,
						type: 'GET',
						success: function (data) {
							
							// 주문 상세 정보로 모달을 채웁니다.
							$('.modal-body').html(data.description); // 데이터 구조에 따라 수정하세요.
							$('#orderDetails').modal('show'); // 모달을 표시합니다.
						},
						error: function (error) {
							console.error('주문 상세 정보를 불러오는 중 오류 발생:', error);
							// 여기에 오류 처리 로직을 추가하세요.
						}
					});
				}
			});
		</script>






		<script th:inline="javascript">
			function cancelOrder(orderId) {
				console.log(orderId);
				$.ajax({
					url: 'order/updateCancel' + orderId,
					type: 'PUT',
					success: function (data) {
						console.log('Order canceled successfully:', data);
						// 주문 취소 후 1초 뒤에 페이지 새로고침
						setTimeout(function () {
							location.reload();
						}, 1000); // 1초 (1000 milliseconds)

					},
					error: function (error) {
						console.error('Error canceling order:', error);
						// 에러 처리 로직을 추가하세요.
					}
				});


			}
		</script>

	</th:block>

</body>

</html>