<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='')">
  <!-- Body-->
	  <!-- Header -->
<head>
</head>
<body>
      <!-- Page Content-->
        <th:block layout:fragment="content">
      <!-- Main Slider-->
      <section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">
        
     <!-- Order Form-->
   <div class="col-xl-9 col-lg-8">
    <h4>Billing Address</h4>
    <hr class="padding-bottom-1x">
    <!-- Add a list in this section -->
 <div class="custom-section">
    <h5>주문 내역</h5>
    <ul>
        <th:block th:if="${sUserId != null}">
            <!-- 회원 주문내역 -->
            <th:each th:each="item : ${sUserCartResponseDto}">
                <li th:text="${item.productName} : ${item.qty} ${item.qty}*${item.totalPrice} ">상품 ${item.productName}: ${item.qty} $${item.totalPrice}</li>
            </th:each>
        </th:block>
        <th:block th:unless="${sUserId != null}">
            <!-- 비회원 주문내역 -->
            <th:each th:each="item : ${sUserCartOrderDto}">
                <li th:text="${item.productName} : ${item.qty} ${item.qty}*${item.totalPrice}">상품 ${cart.name}: $${cart.totalPrice}</li>
            </th:each>
        </th:block>
    </ul>
</div>
    <div class="custom-section">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-fn">주문자</label>
                <input class="form-control" type="text" id="checkout-fn">
            </div>
        </div>
    </div>
    <div class="custom-section">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-email">주문자전화번호</label>
                <input class="form-control" type="email" id="checkout-email">
            </div>
        </div>
    </div>
    <div class="custom-section">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-company">수령인</label>
                <input class="form-control" type="text" id="checkout-company">
            </div>
        </div>
    </div>
    <div class="custom-section">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-company">수령인전화번호</label>
                <input class="form-control" type="text" id="checkout-company">
            </div>
        </div>
    </div>
    <div class="custom-section">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-address1">수령인주소</label>
                <input class="form-control" type="text" id="checkout-address1">
            </div>
        </div>
    </div>
    <h4>Shipping Address</h4>
    <hr class="padding-bottom-1x">
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="same_address" checked>
            <label class="custom-control-label" for="same_address">주문</label>
        </div>
    </div>
    <div class="checkout-footer">
        <div class="column">
            <a class="btn btn-outline-secondary" href="cart.html">
                <i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back To Cart</span>
            </a>
        </div>
        <div class="column">
            <a class="btn btn-primary" href="http://localhost/member_cart_order_save_action">
                <span class="hidden-xs-down">주문하기&nbsp;</span><i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

      </section>
    
	</th:block>    
 <th:block layout:fragment="recommendation">
 </th:block>
  </body>
</html>