<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='')">
<!-- Body-->
<!-- Header -->

<head>
</head>

<body>
	<!-- Page Content-->
	<th:block layout:fragment="content">
		<!-- Main Slider-->
		<section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">



			<!-- Order Form-->
			<div class="col-xl-9 col-lg-8">
				<h4>Billing Address</h4>
				<hr class="padding-bottom-1x">

				<div class="table-responsive" style="margin-left: -150px; width: 120%;">
					<table class="table">
						<thead class="thead-inverse">
							<tr>
								<th style="width: 500px; white-space: nowrap;">주문 번호</th>
								<th style="width: 500px; white-space: nowrap;">주문 상세번호</th>
								<th style="width: 500px; white-space: nowrap;">주문 날짜</th>
								<th style="width: 500px; white-space: nowrap;">상품 갯수</th>
								<th style="width: 500px; white-space: nowrap;">총 가격</th>
								<th style="width: 500px; white-space: nowrap;">현재 주문 상태</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" style="width: 500px;">112</th>
								<td style="width: 500px; white-space: nowrap;">좋은 컴퓨터 외
									5개</td>
								<td style="width: 500px; white-space: nowrap;">2023.10.15</td>
								<td style="width: 500px; white-space: nowrap;">15개</td>
								<td style="width: 500px; white-space: nowrap;">13,000,000원</td>
								<td style="width: 500px; white-space: nowrap;">배송완료</td>
							</tr>

						</tbody>
					</table>
				</div>


				<!-- Add a list in this section -->
				<div class="custom-section">
					<h5>주문 내역</h5>
					<table>
						<thead>
							<tr>
								<th>상품 이름</th>
								<th>수량</th>
								<th>가격</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${sUserId != null}">
								<!-- 회원 주문내역 -->
								<th:each th:each="item : ${sUserCartResponseDto}">
									<tr>
										<td th:text="${item.productName}"></td>
										<td th:text="${item.qty}"></td>
										<td th:text="${item.qty * item.totalPrice}"></td>
									</tr>
								</th:each>
							</th:block>
							<th:block th:unless="${sUserId != null}">
								<!-- 비회원 주문내역 -->
								<th:each th:each="item : ${sUserCartOrderDto}">
									<tr>
										<td th:text="${item.productName}"></td>
										<td th:text="${item.qty}"></td>
										<td th:text="${item.qty * item.totalPrice}"></td>
									</tr>
								</th:each>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="custom-section">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="checkout-fn">주문자</label>
							<input class="form-control" type="text" id="checkout-fn">
						</div>
					</div>
				</div>
				<div class="custom-section">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="checkout-email">주문자전화번호</label>
							<input class="form-control" type="email" id="checkout-email">
						</div>
					</div>
				</div>
				<div class="custom-section">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="checkout-company">수령인</label>
							<input class="form-control" type="text" id="checkout-company">
						</div>
					</div>
				</div>
				<div class="custom-section">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="checkout-company">수령인전화번호</label>
							<input class="form-control" type="text" id="checkout-company">
						</div>
					</div>
				</div>
				<div class="custom-section">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="checkout-address1">수령인주소</label>
							<input class="form-control" type="text" id="checkout-address1">
						</div>
					</div>
				</div>
				<h4>Shipping Address</h4>
				<hr class="padding-bottom-1x">
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" type="checkbox" id="same_address" checked>
						<label class="custom-control-label" for="same_address">주문</label>
					</div>
				</div>
				<div class="checkout-footer">
					<div class="column">
						<a class="btn btn-outline-secondary" href="cart.html">
							<i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back To Cart</span>
						</a>
					</div>
					<div class="column">
						<a class="btn btn-primary" href="http://localhost/cart_order_save_action">
							<span class="hidden-xs-down">주문하기&nbsp;</span><i class="icon-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>

		</section>

	</th:block>
	<th:block layout:fragment="recommendation">
	</th:block>
</body>

</html>