<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='Order')">
<!-- Body-->
<!-- Header -->

<head>
</head>

<body>
	<!-- Page Content-->
	<th:block layout:fragment="content">
		<!-- Main Slider-->

		<div class="container padding-bottom-3x mb-2">
			<div class="row">
				<!-- Checkout Adress-->
				<!-- Order Form-->
				<div class="col-xl-9 col-lg-8 order-lg-first">
					<div class="table-responsive" style="margin-left: -150px; width: 120%;">
						<table class="table" style="margin: 0 auto;">
							<thead class="thead-inverse">
								<tr>
									<th style="width: 500px; white-space: nowrap; text-align: center;">상품 번호</th>
									<th style="width: 500px; white-space: nowrap; text-align: center;">상품 이름</th>
									<th style="width: 500px; white-space: nowrap; text-align: center;">수량</th>
									<th style="width: 500px; white-space: nowrap; text-align: center;">가격</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${sUserCartOrderDto}">
									<td style="width: 500px; text-align: center;" th:text="${item.id}">112</td>
									<td style="width: 500px; white-space: nowrap; text-align: center;"
										th:text="${item.productName}">좋은 컴퓨터 외 5개</td>
									<td style="width: 500px; white-space: nowrap; text-align: center;"
										th:text="${item.qty}">2023.10.15</td>
									<td style="width: 500px; white-space: nowrap; text-align: center;"
										th:text="${item.totalPrice}">15개</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align: center;">
										<strong>총가격: </strong>
										<strong class="text-medium" th:text="${realTotalPrice}"></strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<form id="orderAction" name="orderAction" method="post" action="/cart_order_action">
						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center; ">
									<label for="checkout-fn"
										style="flex: 1;text-align: right; margin-right: 1rem; pointer-events: none;">주문자</label>
									<input class="form-control" type="text" id="ordererName" name="ordererName"
										style="flex: 2; width: 80%;" value="">
								</div>
							</div>
						</div>

						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center;  ">
									<label for="checkout-email"
										style="flex: 1;text-align: right; margin-right: 1rem;  pointer-events: none;">주문자전화번호</label>
									<input class="form-control" type="email" id="ordererPhoneNo" name="ordererPhoneNo"
										style="flex: 2; width: 80%;" value="">
								</div>
							</div>
						</div>

						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center;">
									<label for="checkout-company"
										style="flex: 1; text-align: right; margin-right: 1rem; pointer-events: none;">수령인</label>
									<input class="form-control" type="text" id="receiver" name="receiver"
										style="flex: 2; width: 80%;" value="">
								</div>
							</div>
						</div>

						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center; ">
									<label for="checkout-company-phone"
										style="flex: 1; text-align: right; margin-right: 1rem;  pointer-events: none;">수령인전화번호</label>
									<input class="form-control" type="text" id="receiverPhoneNo" name="receiverPhoneNo"
										style="flex: 2; width: 80%;" value="">
								</div>
							</div>
						</div>

						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center; ">
									<label for="checkout-address1"
										style="flex: 1; text-align: right; margin-right: 1rem;  pointer-events: none;">수령인주소</label>
									<input class="form-control" type="text" id="receiverAddress" name="receiverAddress"
										style="flex: 2; width: 80%;" value="">
								</div>
							</div>
						</div>
						<div class="custom-section">
							<div class="col-sm-8">
								<div class="form-group" style="display: flex; align-items: center;">
									<label for="account-number"
										style="flex: 1; text-align: right; margin-right: 1rem; display: none; font-weight: bold; font-size: 16px;">계좌번호</label>
									<span class="account-number"
										style="font-size: 18px; color: #0073e6; font-weight: bold;">무통장입금안내 <br> 신한:
										110-333-4545654 아이언맨 </span>
								</div>
							</div>
						</div>
						<div style="border: 1px solid #ccc; padding: 10px;">
							<div class="row">
								<div class="col">
									<a class="btn btn-outline-secondary" href="cart.html"> <i
											class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back To
											Cart</span></a>
								</div>
								<div class="col text-right">
									<button type="submit" class="btn btn-primary">
										<span class="hidden-xs-down">주문하기&nbsp;</span>
										<i class="icon-arrow-right"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!-- Sidebar          -->
				<div class="col-xl-3 col-lg-4">
					<aside class="sidebar">
						<div class="padding-top-2x hidden-lg-up"></div>
						<!-- Order Summary Widget-->
						<section class="widget widget-order-summary">
							<h3 class="widget-title">Order Summary</h3>
							<table class="table">
								<tr>
									<td>총주문상품</td>
									<td class="text-medium">
										<span th:text="${sUserCartOrderDto.get(0).productName}"></span>
										<th:block th:if="${sUserCartOrderDto.size() > 1}">
											외 <span th:text="${sUserCartOrderDto.size() - 1}"></span> 건
										</th:block>
									</td>
								</tr>
								<tr>
									<td>총가격</td>
									<td class="text-medium" th:text="${realTotalPrice}">
									</td>
								</tr>
							</table>
						</section>
						<!-- Featured Products Widget-->
						<section class="widget widget-featured-products">
							<h3 class="widget-title">Recently Viewed</h3>
							<!-- Entry-->
							<div class="entry">
								<div class="entry-thumb">
									<a href="shop-single.html"><img src="img/shop/widget/01.jpg" alt="Product"></a>
								</div>
								<div class="entry-content">
									<h4 class="entry-title">
										<a href="shop-single.html">Oakley Kickback</a>
									</h4>
									<span class="entry-meta">$155.00</span>
								</div>
							</div>
							<!-- Entry-->
							<div class="entry">
								<div class="entry-thumb">
									<a href="shop-single.html"><img src="img/shop/widget/02.jpg" alt="Product"></a>
								</div>
								<div class="entry-content">
									<h4 class="entry-title">
										<a href="shop-single.html">Top-Sider Fathom</a>
									</h4>
									<span class="entry-meta">$90.00</span>
								</div>
							</div>
							<!-- Entry-->
							<div class="entry">
								<div class="entry-thumb">
									<a href="shop-single.html"><img src="img/shop/widget/03.jpg" alt="Product"></a>
								</div>
								<div class="entry-content">
									<h4 class="entry-title">
										<a href="shop-single.html">Vented Straw Fedora</a>
									</h4>
									<span class="entry-meta">$49.50</span>
								</div>
							</div>
							<!-- Entry-->
							<div class="entry">
								<div class="entry-thumb">
									<a href="shop-single.html"><img src="img/shop/widget/04.jpg" alt="Product"></a>
								</div>
								<div class="entry-content">
									<h4 class="entry-title">
										<a href="shop-single.html">Big Wordmark Tote</a>
									</h4>
									<span class="entry-meta">$29.99</span>
								</div>
							</div>
						</section>
					</aside>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="recommendation"></th:block>


	</th:block>

</body>

</html>