<!DOCTYPE html>
<div><!-- 필터 디비젼 시작-->
	<div><!--필터 헤더-->
		<div>
			<h4>카테고리 선택</h4>
		</div>
		<div style="display: inline;">
			<h4>옵션 선택</h4>
		</div>
	</div><!-- 필터 헤더 끝 줄바꿈-->

	<div>
		<div><!--대분류 카테고리-->
			<ul>
				<li>컴퓨터</li><!--카테고리명 받아서 뿌리기-->
			</ul>
		</div>
		<div><!--소분류 카테고리-->
			<ul>
				<li>일체형PC</li><!--카테고리명 받아서 뿌리기-->
			</ul>
		</div>
		<div><!--옵션 선택창-->
			<table>
				<tr>
					<td>옵션명</td>
					<td>옵션값</td>
				</tr>
			</table>
		</div>
	</div><!--줄바꿈 옵션 선택 테이블 끝-->

	<div><!--가격범위, 이름키워드 검색창-->
		<div><!--가격범위 설정창-->

		</div>
		<div><!--이름키워드 검색창-->

		</div>
	</div><!--가격범위, 이름키워드 검색 창 끝-->
</div><!-- 필터 디비젼 끝-->