<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Body-->
	  <!-- Header -->
    <div th:insert="include_common :: header"></div>
  <body>
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
     
     
        
        
        여기를 채워주시면 됩니다
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <!-- Shop Toolbar-->
          <div class="shop-toolbar padding-bottom-1x mb-2">
            <div class="column">
              <div class="shop-sorting">
                <label for="sorting">Sort by:</label>
                <select class="form-control" id="sorting">
                  <option th:attr="orderType=#{판매량}">판매량</option>
                  <option th:attr="orderType=#{판매량}">조회순</option>
                  <option th:attr="orderType=#{판매량}">최저가순</option>
                  <option th:attr="orderType=#{판매량}">평점순</option>
                  <option th:attr="orderType=#{판매량}">최신순</option>
                </select>
              </div>
            </div>
            <div class="view_opt">
              <div><!--카테고리,옵션 선택자-->
                <div class="wrap_section_contents">
                  <div class="option_content area_section">
              <h2 class="blind">지역 선택</h2>
<div class="select_keyword">
  <div class="wrap_auto_keyword">
  <span class="ipt_keyword">
      <label for="area_ipt_keyword" class="blind">지역명 입력</label>
      <input type="text" name="loc" id="area_ipt_keyword" placeholder="지역명 입력" autocomplete="off" />
      <button type="button" class="btn_delete">삭제</button>
  </span>
  <div class="wrap_result has_result" id="autocomplete_has_result">
      <div class="wrap_scroll">
          <div class="ScrollBar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
          <div class="viewport">
              <div class="overview">
                  <ul class="list_keyword"></ul>
              </div>
          </div>
      </div>
      <div class="area_btn">
          <button type="button" class="btn_close">닫기</button>
      </div>
  </div>
  <div class="wrap_result no_result" id="autocomplete_no_result">
      <p class="empty">
          검색결과가 없습니다.
      </p>
      <div class="area_btn">
          <button type="button" class="btn_close">닫기</button>
      </div>
  </div>
</div>

      <script id="sp_area_auto_complete_tmpl" type="text/x-handlebars-template">
          {{#list}}
          <li>
              <div class="InpBox">
                  <div class="Chk">
                      <input type="checkbox" id="{{name}}_{{code}}" name="{{name}}[]" value="{{code}}" data-type="{{type}}" data-code="{{code}}" data-bcode="{{bcode}}" {{{checked}}}>
                      <label class="lbl" for="{{name}}_{{code}}">{{highlight ../keyword text}}</label>
                  </div>
              </div>
          </li>
          {{/list}}
      </script>
      </div>
<!-- 카테고리 depth -->
<div class="wrap_depth_category ">
  <h4 class="blind">카테고리 선택</h4>
  <div class="wrap_scroll depth1">
      <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
      <div class="viewport">
          <div class="overview">
              <ul>
                  <script id="sp_area_1depth_template" type="text/x-handlebars-template">
                      {{#list}}
                      <li class="depth1_btn_wrapper {{selected}}" id="depth1_btn_{{code}}"><button type="button" class="depth1_btn_{{code}}" data-code="{{code}}"><span class="txt">{{name}} </span><span class="count">({{toStringByComma count}})</span></button></li>
                      {{/list}}
                  </script>
              </ul>
              <ul class="list_overseas">
                  <script id="sp_overseas_area_1depth_template" type="text/x-handlebars-template">
                      {{#list}}
                      <li class="depth1_btn_wrapper {{selected}}" id="depth1_btn_{{code}}"><button type="button" class="depth1_btn_{{code}}" data-code="{{code}}"><span class="txt">{{name}} </span><span class="count">({{toStringByComma count}})</span></button></li>
                      {{/list}}
                  </script>
              </ul>
          </div>
      </div>
  </div>
  <div class="wrap_scroll depth_check">
      <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
      <div class="viewport">
          <div class="overview">
              <div class="wrap_list_check">
                  <script id="sp_area_lastDepth_template" type="text/x-handlebars-template">
                  <ul class="list_check" id="sp_area_lastDepth_{{code}}">
                      {{#list}}
                          {{#hasCountInOverseas id mcode count}}
                          <li>
                              <div class="inpChk">
                                  <input type="checkbox" id="{{id}}_{{code}}" name="{{id}}[]" value="{{code}}" data-is_representative="{{is_representative}}" data-representative="{{representative}}" data-mcode="{{mcode}}" data-check-type="{{type}}">
                                  <label for="{{id}}_{{code}}" class="lbl"><span class="txt">{{name}}</span>{{#isNotAllType type}}<span class="count"> ({{toStringByComma count}})</span>{{/isNotAllType}}</label>
                              </div>
                          </li>
                          {{/hasCountInOverseas}}
                      {{/list}}
                  </ul>
                  </script>
                  <div class="area_btn">
                      <button type="button" class="btn_all_category" data-logging-flow="area">지역 펼쳐보기</button>
                      <button type="button" class="btn_reset">지역 초기화</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
          </div>
                              <div class="option_content job_category_section">
              <h2 class="blind">직업 선택</h2>
<div class="select_keyword">
  <div class="wrap_auto_keyword">
  <span class="ipt_keyword">
      <label for="job_category_ipt_keyword" class="blind">직업(직무) 또는 전문분야 입력</label>
      <input type="text" name="cat" id="job_category_ipt_keyword" placeholder="직업(직무) 또는 전문분야 입력" autocomplete="off" />
      <button type="button" class="btn_delete">삭제</button>
  </span>
  <div class="wrap_result has_result" id="autocomplete_has_result">
      <div class="wrap_scroll">
          <div class="ScrollBar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
          <div class="viewport">
              <div class="overview">
                  <ul class="list_keyword"></ul>
              </div>
          </div>
      </div>
      <div class="area_btn">
          <button type="button" class="btn_close">닫기</button>
      </div>
  </div>
  <div class="wrap_result no_result" id="autocomplete_no_result">
      <p class="empty">
          검색결과가 없습니다.
      </p>
      <div class="area_btn">
          <button type="button" class="btn_close">닫기</button>
      </div>
  </div>
</div>

      <script id="sp_job_category_auto_complete_tmpl" type="text/x-handlebars-template">
          {{#list}}
          <li>
              <div class="InpBox">
                  <div class="Chk">
                      <input type="checkbox" id="{{name}}_{{code}}" name="{{name}}[]" value="{{code}}" data-mcls_cd_no="{{mclsCdNo}}" data-code="{{code}}" data-click_url="{{clickUrl}}" {{{checked}}}>
                      <label class="lbl" for="{{name}}_{{code}}">{{highlight ../keyword text}}</label>
                  </div>
              </div>
          </li>
          {{/list}}
      </script>
      <script id="sp_job_category_auto_complete_none_result_tmpl" type="text/x-handlebars-template">
          <li>
              <div class="InpBox">
                  <div class="Chk">
                      <input type="checkbox" id="{{name}}" name="{{name}}" value="{{text}}">
                      <label class="lbl" for="{{name}}" style="background:none;">{{highlight text text}} 키워드 검색어로 추가</label>
                  </div>
              </div>
          </li>
      </script>
      </div>
<!-- 카테고리 depth -->
<div class="details"> <!-- wrap_depth_category -->
  <h4 class="blind">카테고리 선택</h4>

  <div class="box_jobs">
      <script id="sp_job_category_home_template" type="text/x-handlebars-template">
          {{#mclsList}}
              {{#hasCountInJobCategory count}}
              <button type="button" class="btn_job" data-mcls_cd_no="{{mclsCdNo}}">{{mclsCdNm}}</button>
              {{/hasCountInJobCategory}}
          {{/mclsList}}
      </script>
  </div>

  <div class="box_detail_jobs" style="display:none;">
      <div class="box_onedepth">
          <div class="wrap_scroll">
              <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
              <div class="viewport">
                  <ul class="list overview">
                      <script id="sp_job_category_oneDepth_template" type="text/x-handlebars-template">
                          {{#mclsList}}
                              {{#hasCountInJobCategory count}}
                              <li class="item_job depth1_btn_wrapper" id="depth1_btn_{{mclsCdNo}}">
                                  <button type="button" data-mcls_cd_no="{{mclsCdNo}}" class="first_depth depth1_btn_{{mclsCdNo}}">
                                      <span class="txt">{{mclsCdNm}} </span>
                                      <span class="count">({{toStringByComma count}})</span>
                                  </button>
                              </li>
                              {{/hasCountInJobCategory}}
                          {{/mclsList}}
                      </script>
                  </ul>
              </div>
          </div>
      </div>

      <script id="sp_job_category_subDepth_template" type="text/x-handlebars-template">
          <div class="box_detail_depth">
              <div class="row row_all_select">
                  <input type="checkbox" id="all_check_onedepth_{{mclsCdNo}}" name="cat_mcls[]" class="select_all" data-code="{{mclsCdNo}}" data-mcls_cd_no="{{mclsCdNo}}" data-mcls_cd_nm="{{mclsCdNm}}">
                  <label for="all_check_onedepth_{{mclsCdNo}}"><span>{{mclsCdNm}} 전체선택</span></label>
                  <span class="inpSel">
                      <select class="select_sort" title="정렬방법">
                          <option value="default">가나다순</option>
                          <option value="favor">공고많은순</option>
                      </select>
                  </span>
              </div>

              <div class="row list">
                  <div class="wrap_scroll">
                      <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                      <div class="viewport">
                          <div class="overview">
                              {{#sclsList}}
                              <dl class="row_item">
                                  <dt>
                                      <button type="button" class="btn_expand" data-scls_cd_no="{{sclsCdNo}}"><span class="txt">{{sclsCdNm}}</span></button>
                                  </dt>
                                  <dd class="area_list">
                                      {{#kewdList}}
                                      <button type="button" name="cat_kewd[]" class="btn_three_depth"
                                              data-code="{{kewdCdNo}}" data-mcls_cd_no="{{../mclsCdNo}}" data-mcls_cd_nm="{{../mclsCdNm}}"
                                              data-kewd_cd_no="{{kewdCdNo}}" data-kewd_cd_nm="{{kewdCdNm}}" data-sort="{{sort}}"
                                              data-count="{{count}}">{{kewdCdNm}}<span class="count">({{toStringByComma count}})</span></button>
                                      {{/kewdList}}
                                  </dd>
                              </dl>
                              {{/sclsList}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </script>
  </div>
</div>            </div>





              </div>
              <div class="price_opt">
                 <!-- prod_price_selector -->
                 <span class="prod_price_selector">
                  <label for="priceRangeMinPrice" class="price_label min_price_label">원</label>
                  <input type="text" class="price_input min_price_input" title="검색될 최소 가격 입력" name="priceRangeMinPrice" id="priceRangeMinPrice" data-origin-min-price="0" value="">
                 </span> ~
                 <span class="prod_price_selector">
                   <label for="priceRangeMaxPrice" class="price_label max_price_label">원</label>
                   <input type="text" class="price_input max_price_input" title="검색될 최대 가격 입력" name="priceRangeMaxPrice" id="priceRangeMaxPrice" data-origin-max-price="0" value="">
                 </span>
                 <span class="prod_name_keyword">
                    <label for="searchByNameKeyword" class="product_name_keyword_label">검색어</label>
                    <input type="text" class="searchByNameKeyword" title="검색어" name="searchNameKeyword" id="nameKeyword" data-origin-name-keyword="0" value="">
                 </span>
                  <button type="button" class="btn_search">검색</button>      
             </div>
           </div>
          </div>
          <!-- Product 반복-->
          <div class="product-card product-list"><a class="product-thumb" href="product-detail.html">
              <div class="product-badge text-danger">50% Off</div><img src="img/shop/products/01.jpg" alt="Product"></a>
            <div class="product-info">
              <h3 class="product-title"><a href="product-detail.html">Unionbay Park</a></h3>
              <h4 class="product-price">
                <del>$99.99</del>$49.99
              </h4>
              <p class="hidden-xs-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.</p>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          
          <div class="pt-2">
            <!-- Pagination-->
            <nav class="pagination">
              <div class="column">
                <ul class="pages">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li>...</li>
                  <li><a href="#">12</a></li>
                </ul>
              </div>
              <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="#">Next&nbsp;<i class="icon-arrow-right"></i></a></div>
            </nav>
          </div>
        </div>
      </div>
    </div>




<!--컨텐츠 끝-->





        
     
      <div th:insert="include_common :: footer"></div>
    </div>
    
    
    <!-- Back To Top Button-->
    <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="/bootstrap/js/vendor.min.js"></script>
    <script src="/bootstrap/js/scripts.min.js"></script>
  </body>
</html>