<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Body-->
	  <!-- Header -->
    <div th:insert="include_common :: header"></div>
  <body>
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
     
     
        
        
        여기를 채워주시면 됩니다
        
<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>Recent View</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li><a href="account-orders.html">Account</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>Recent View</li>
      </ul>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(img/account/user-cover-img.jpg);">
          <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
        </div>
        <div class="user-info">
          <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="img/account/user-ava.jpg" alt="User"></div>
          <div class="user-data">
            <h4>Daniel Adams</h4><span>Joined February 06, 2017</span>
          </div>
        </div>
      </aside>
      <nav class="list-group"><a class="list-group-item with-badge" href="account-orders.html"><i class="icon-bag"></i>Orders<span class="badge badge-primary badge-pill">6</span></a><a class="list-group-item" href="account-profile.html"><i class="icon-head"></i>Profile</a><a class="list-group-item" href="account-address.html"><i class="icon-map"></i>Addresses</a><a class="list-group-item with-badge active" href="wishlistver2.html" th:href="wishlistver2.html"><i class="icon-heart"></i>Wishlist<span class="badge badge-primary badge-pill" th:text="${optionset.size}">optionset.size</span></a><a class="list-group-item with-badge" href="recentviewver2.html" th:href="recentviewver2.html"><i class="icon-tag"></i>최근 본 상품<span class="badge badge-primary badge-pill" th:text="${recentviews.size}">recentview.size</span></a></nav>
    </div>
    <div class="col-lg-8">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>
      <!-- Wishlist Table-->
      <div class="table-responsive wishlist-table margin-bottom-none">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th><!--제목-->
              <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear RecentView</a></th><!--전체삭제버튼-->
            </tr>
          </thead>
          <tbody>
            <tr th:each="view:${myViews}"><!--상품 반복-->
              <td>
                <div class="product-item"><a class="product-thumb" href="product-detail.html" th:href="product-detail.html"><img src="img/shop/cart/01.jpg" alt="Product"  th:attr="src=@{/images/gtvglogo.png},title=#{optionset.product.img},alt=#{optionset.product.img}"></a>
                  <div class="product-info">
                    <h4 class="product-title" th:text="${view.optionSet.product.name}"><a href="product-detail.html" th:href="product-detail.html">ProductName</a></h4>
                    <div class="text-lg text-medium text-muted" th:text="${view.optionSet.totalPrice}">totalprice</div>
                    <div th:each="option:${view.optionSet.options}">Options:
                      <div class="d-inline text-success" th:text="${option.name}:${option.value}">option Name&Value</div>
                      <div class="d-inline text-success" th:text="${optionSet.updateTime}">등록일</div>
                      <div class="d-inline text-success" th:text="${optionSet.review.size}">리뷰수</div>
                      <i class="icon-heart">::before</i>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a></td>
            </tr><!--상품반복 끝-->
          </tbody>
        </table>
      </div>
      <hr class="mb-4">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="inform_me" checked>
        <label class="custom-control-label" for="inform_me">Inform me when item from my wishlist is available</label>
      </div>
    </div>
  </div>
</div>




<!--컨텐츠 끝-->





        
     
      <div th:insert="include_common :: footer"></div>
    </div>
    
    
    <!-- Back To Top Button-->
    <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="/bootstrap/js/vendor.min.js"></script>
    <script src="/bootstrap/js/scripts.min.js"></script>
  </body>
</html>