<div id="sp_main_wrapper" class="wrap_main_panel" data-default="domestic">
    <div class="default_option">
<!-- btn_open_layer 클릭 시 부모 search_option 에 open 클래스 추가 -->
<div class="search_option career_option">
<button type="button" class="btn_open_layer">경력 선택</button>
<div class="layer_option">
<strong class="tit">경력 전체</strong>
<div class="area_check">
<div class="inpChk small">
    <input type="checkbox" data-group="career" data-key="exp_cd" data-value="1" id="zero_experience">
    <label for="zero_experience" class="lbl">신입</label>
</div>
<div class="inpChk small experience">
    <input type="checkbox" data-group="career" data-key="exp_cd" data-value="2" id="experience">
    <label for="experience" class="lbl">경력</label>
</div>
<div class="inpChk small right">
    <input type="checkbox" data-group="career" data-key="exp_none" data-value="y" id="no_experience">
    <label for="no_experience" class="lbl">경력무관</label>
</div>
</div>
<div class="area_detail_select">
<strong class="blind">경력 상세 선택하기</strong>
<ul class="btns" data-key="career">
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_career_over0" data-index="0" name="check_career" title="~1년" value="">
            <label for="btn_check_career_over0">~1년</label>
        </span>
    </li>
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_career_over1" data-index="1" name="check_career" title="1년" value="">
            <label for="btn_check_career_over1">1년</label>
        </span>
    </li>
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_career_over2" data-index="2" name="check_career" title="2년" value="">
            <label for="btn_check_career_over2">2년</label>
        </span>
    </li>
    <li class="blank"></li>
    <li class="blank"></li>
    <li class="blank"></li>
</ul>
<script id="career_template" type="text/x-handlebars-template">
    {{#list}}
    <li>
        <span class="btn_check {{#optionsMarked mark}}mark{{/optionsMarked}}">
            <input type="checkbox"
                   id="btn_check_career_over{{sequence}}"
                   data-index="{{sequence}}"
                   name="check_career"
                   title="{{name}}"
                   value=""
                   {{#optionsChecked selected}}checked="checked"{{/optionsChecked}}>
            <label for="btn_check_career_over{{sequence}}">{{name}}</label>
        </span>
    </li>
    {{/list}}
    <li class="blank"></li>
    <li class="blank"></li>
    <li class="blank"></li>
</script>
</div>
<!-- dummy layer -->
<div class="area_btn">
<button type="button" data-clear="exp" class="btn_basic_type02 btn_reset">선택 초기화</button>
<button type="button" class="closeDefaultOptionLayer btn_basic_type02 btn_close">닫기</button>
</div>
<!-- // -->
</div>
</div><div class="search_option edu_option">
<button type="button" class="btn_open_layer">학력 선택</button>
<div class="layer_option">
<strong class="tit">학력 전체</strong>
<div class="area_check">
<div class="inpChk small right">
    <input type="checkbox" data-group="career" data-key="edu_none" data-value="y" id="no_education">
    <label for="no_education" class="lbl">학력무관</label>
</div>
</div>

<div class="area_detail_select">
<strong class="blind">상세 선택하기</strong>
<ul class="btns" data-key="education">
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_edu_0" data-index="0" name="check_edu" title="고교 졸업 이하" value="">
            <label for="btn_check_edu_0">고교 졸업<br>이하</label>
        </span>
    </li>
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_edu_1" data-index="1" name="check_edu" title="고등학교 졸업" value="">
            <label for="btn_check_edu_1">고등학교<br>졸업</label>
        </span>
    </li>
    <li>
        <span class="btn_check ">
            <input type="checkbox" id="btn_check_edu_2" data-index="2" name="check_edu" title="대학 졸업 (2,3년제)" value="">
            <label for="btn_check_edu_2">대학 졸업<br>(2,3년제)</label>
        </span>
    </li>

    <li class="blank"></li>
</ul>
<script id="education_template" type="text/x-handlebars-template">
    {{#list}}
    <li>
        <span class="btn_check {{#optionsMarked mark}}mark{{/optionsMarked}}">
            <input type="checkbox"
                   id="btn_check_edu_{{sequence}}"
                   data-index="{{sequence}}"
                   name="check_edu"
                   title="{{title}}"
                   value=""
                   {{#optionsChecked selected}}checked="checked"{{/optionsChecked}}>
            <label for="btn_check_edu_{{sequence}}">{{safeStr name}}</label>
        </span>
    </li>
    {{/list}}
    <li class="blank"></li>
</script>
</div>
<!-- dummy layer -->
<div class="area_btn">
<button type="button" class="btn_basic_type02 btn_reset" data-clear="edu">선택 초기화</button>
<button type="button" class="closeDefaultOptionLayer btn_basic_type02 btn_close">닫기</button>
</div>
<!-- // -->
</div>
</div><div class="search_option recently_search_option" id="mySearchListLayer" data-view="n">
<button type="button" id="recently_search_btn" data-action="domestic" class="btn_open_layer track_event" data-track_event="my_search_management|click|loc|open" title="나의 검색 설정이 가능합니다.">
나의 검색 / 메일관리<i class="ico_word_setting">설정</i>
</button>

<div class="layer_option">
<div class="wrap_scroll_layer">
<div class="layer_inner">
    <div class="wrap_title"><strong class="title">나의 검색 / 메일관리</strong>
        <div class="toolTipWrap">
            <button type="button" class="btn_help" title="도움말">도움말</button>
            <div class="toolTip" style="top:30px;left:-80px;width:238px">
                <span class="tail tail_top_left"></span>
                <div class="toolTipCont txtLeft">
                    <strong class="toolTipTit">최대 20건 관리기능</strong>
                    <p class="txt">최근 나의 검색 최대 10건 자동 노출<br>저장된 나의 검색 최대 10건 노출</p>
                </div>
                <button type="button" class="btnClose" onclick="Saramin.favorTooltip(jQuery(this).closest('.toolTipWrap').find('.btn_help'), 'off');"><span class="blind">닫기</span></button>
            </div>
        </div>
    </div>
    <div class="wrap_box_sort">
        <div class="inbox_sort">
            <span class="sort on" data-type="recently-search">
                <button type="button" class="track_event" data-track_event="my_search_management|click|loc|view_history">최근 나의 검색(<em>0</em>)</button>
            </span>
            <span class="sort" data-type="my-search">
                <button type="button" class="track_event" data-track_event="my_search_management|click|loc|view_saving">저장된 나의 검색(<em>0</em>)</button>
            </span>
            <span class="sort" data-type="all">
                <button type="button" class="track_event" data-track_event="my_search_management|click|loc|view_total">전체(<em>0</em>)</button>
            </span>
        </div>
        <div class="inbox_right">
            <span class="sort_txt">
                <label for="search_list_title">저장 조건명</label>
            </span>
            <div class="box_edit">
                <input type="text" id="search_list_title" class="inpTypo" maxlength="15">
                <button type="button" class="btn_option btn_title_search track_event" data-track_event="my_search_management|click|loc|title_search"><span>검색</span></button>
            </div>
            <div class="inpSel">
                <select title="" id="search_history_count" style="width:96px" class="track_event" data-track_event="my_search_management|click|loc|list_change">
                    <option value="3" selected="">3개 보기</option>
                    <option value="5">5개 보기</option>
                    <option value="10">10개 보기</option>
                </select>
            </div>
        </div>
    </div>
    <div id="mySearchLHistory">
    </div>
</div>
<button type="button" class="closeDefaultOptionLayer btn_close">닫기</button>
</div>
</div>
</div>
</div>
<div class="main_option ">
<ul class="tab_section">
    <li class="area_section on">
<button type="button" class="btn_area btn_open_layer ">
    <span class="input_placeholder">지역 선택</span>
    <span class="input_text"></span>
</button>
</li>
    <li class="job_category_section">
<button type="button" class="btn_job_category btn_open_layer ">
    <span class="input_placeholder">직업 선택</span>
    <span class="input_text"></span>
</button>
</li>
    <li class="keyword_section">
<button type="button" class="btn_keyword btn_open_layer keyword">
    <span class="input_placeholder">검색어 입력</span>
    <span class="input_text"></span>
</button>
</li>
    <li class="detail_section "><button type="button" class="btn_detail_option "><span>상세조건</span></button></li>
</ul>
<div class="wrap_section_contents">
        <div class="option_content area_section on">
    <h2 class="blind">지역 선택</h2>
<div class="select_keyword">
<div class="wrap_auto_keyword">
<span class="ipt_keyword">
<label for="area_ipt_keyword" class="blind">지역명 입력</label>
<input type="text" name="loc" id="area_ipt_keyword" placeholder="지역명 입력" autocomplete="off">
<button type="button" class="btn_delete">삭제</button>
</span>
<div class="wrap_result has_result" id="autocomplete_has_result" style="display: none;">
<div class="wrap_scroll" style="height: 183px;">
<div class="ScrollBar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
<div class="viewport">
    <div class="overview" style="top: 0px;">
        <ul class="list_keyword"></ul>
    </div>
</div>
</div>
<div class="area_btn">
<button type="button" class="btn_close">닫기</button>
</div>
</div>
<div class="wrap_result no_result" id="autocomplete_no_result" style="display: none;">
<p class="empty">
검색결과가 없습니다.
</p>
<div class="area_btn">
<button type="button" class="btn_close">닫기</button>
</div>
</div>
</div>

<script id="sp_area_auto_complete_tmpl" type="text/x-handlebars-template">
{{#list}}
<li>
    <div class="InpBox">
        <div class="Chk">
            <input type="checkbox" id="{{name}}_{{code}}" name="{{name}}[]" value="{{code}}" data-type="{{type}}" data-code="{{code}}" data-bcode="{{bcode}}" {{{checked}}}>
            <label class="lbl" for="{{name}}_{{code}}">{{highlight ../keyword text}}</label>
        </div>
    </div>
</li>
{{/list}}
</script>
</div>
<!-- 카테고리 depth -->
<div class="wrap_depth_category ">
<h4 class="blind">카테고리 선택</h4>
<div class="wrap_scroll depth1" style="height: 245px;">
<div class="scrollbar" style="height: 245px;"><div class="track" style="height: 245px;"><div class="thumb" style="top: 0px; height: 115.211px;"><div class="end"></div></div></div></div>
<div class="viewport">
<div class="overview" style="top: 0px;">
    <ul>
        <script id="sp_area_1depth_template" type="text/x-handlebars-template">
            {{#list}}
            <li class="depth1_btn_wrapper {{selected}}" id="depth1_btn_{{code}}"><button type="button" class="depth1_btn_{{code}}" data-code="{{code}}"><span class="txt">{{name}} </span><span class="count">({{toStringByComma count}})</span></button></li>
            {{/list}}
        </script>
            <li class="depth1_btn_wrapper  on" id="depth1_btn_101000"><button type="button" class="depth1_btn_101000" data-code="101000"><span class="txt">서울 </span><span class="count">(55,734)</span></button></li>
            <li class="depth1_btn_wrapper " id="depth1_btn_102000"><button type="button" class="depth1_btn_102000" data-code="102000"><span class="txt">경기 </span><span class="count">(38,730)</span></button></li>
            <li class="depth1_btn_wrapper " id="depth1_btn_108000"><button type="button" class="depth1_btn_108000" data-code="108000"><span class="txt">인천 </span><span class="count">(6,362)</span></button></li>
          
    </ul>
    <ul class="list_overseas">
        <script id="sp_overseas_area_1depth_template" type="text/x-handlebars-template">
            {{#list}}
            <li class="depth1_btn_wrapper {{selected}}" id="depth1_btn_{{code}}"><button type="button" class="depth1_btn_{{code}}" data-code="{{code}}"><span class="txt">{{name}} </span><span class="count">({{toStringByComma count}})</span></button></li>
            {{/list}}
        </script>
            <li class="depth1_btn_wrapper " id="depth1_btn_220200"><button type="button" class="depth1_btn_220200" data-code="220200"><span class="txt">미국 </span><span class="count">(125)</span></button></li>
            <li class="depth1_btn_wrapper " id="depth1_btn_211200"><button type="button" class="depth1_btn_211200" data-code="211200"><span class="txt">일본 </span><span class="count">(139)</span></button></li>
            <li class="depth1_btn_wrapper " id="depth1_btn_211300"><button type="button" class="depth1_btn_211300" data-code="211300"><span class="txt">중국·홍콩 </span><span class="count">(162)</span></button></li>
            
    </ul>
</div>
</div>
</div>
<div class="wrap_scroll depth_check" style="height: 245px;">
<div class="scrollbar" style="height: 245px;"><div class="track" style="height: 245px;"><div class="thumb" style="top: 0px; height: 179.179px;"><div class="end"></div></div></div></div>
<div class="viewport">
<div class="overview" style="top: 0px;">
    <div class="wrap_list_check">
        <script id="sp_area_lastDepth_template" type="text/x-handlebars-template">
        <ul class="list_check" id="sp_area_lastDepth_{{code}}">
            {{#list}}
                {{#hasCountInOverseas id mcode count}}
                <li>
                    <div class="inpChk">
                        <input type="checkbox" id="{{id}}_{{code}}" name="{{id}}[]" value="{{code}}" data-is_representative="{{is_representative}}" data-representative="{{representative}}" data-mcode="{{mcode}}" data-check-type="{{type}}">
                        <label for="{{id}}_{{code}}" class="lbl"><span class="txt">{{name}}</span>{{#isNotAllType type}}<span class="count"> ({{toStringByComma count}})</span>{{/isNotAllType}}</label>
                    </div>
                </li>
                {{/hasCountInOverseas}}
            {{/list}}
        </ul>
        </script>
        <ul class="list_check" id="sp_area_lastDepth_101000">
                <li>
                    <div class="inpChk">
                        <input type="checkbox" id="loc_mcd_101000" name="loc_mcd[]" value="101000" data-is_representative="n" data-representative="" data-mcode="101000" data-check-type="all">
                        <label for="loc_mcd_101000" class="lbl"><span class="txt">서울전체</span></label>
                    </div>
                </li>
                <li>
                    <div class="inpChk">
                        <input type="checkbox" id="loc_cd_101010" name="loc_cd[]" value="101010" data-is_representative="n" data-representative="" data-mcode="101000" data-check-type="">
                        <label for="loc_cd_101010" class="lbl"><span class="txt">강남구</span><span class="count"> (18,528)</span></label>
                    </div>
                </li>
                <li>
                    <div class="inpChk">
                        <input type="checkbox" id="loc_cd_101020" name="loc_cd[]" value="101020" data-is_representative="n" data-representative="" data-mcode="101000" data-check-type="">
                        <label for="loc_cd_101020" class="lbl"><span class="txt">강동구</span><span class="count"> (1,623)</span></label>
                    </div>
                </li>
              
        </ul>
        
        <div class="area_btn">
            <button type="button" class="btn_all_category" data-logging-flow="area">지역 펼쳐보기</button>
            <button type="button" class="btn_reset">지역 초기화</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
                    <div class="option_content job_category_section">
    <h2 class="blind">직업 선택</h2>
<div class="select_keyword">
<div class="wrap_auto_keyword">
<span class="ipt_keyword">
<label for="job_category_ipt_keyword" class="blind">직업(직무) 또는 전문분야 입력</label>
<input type="text" name="cat" id="job_category_ipt_keyword" placeholder="직업(직무) 또는 전문분야 입력" autocomplete="off">
<button type="button" class="btn_delete">삭제</button>
</span>
<div class="wrap_result has_result" id="autocomplete_has_result" style="display: none;">
<div class="wrap_scroll" style="height: 183px;">
<div class="ScrollBar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
<div class="viewport">
    <div class="overview" style="top: 0px;">
        <ul class="list_keyword"></ul>
    </div>
</div>
</div>
<div class="area_btn">
<button type="button" class="btn_close">닫기</button>
</div>
</div>
<div class="wrap_result no_result" id="autocomplete_no_result" style="display: none;">
<p class="empty">
검색결과가 없습니다.
</p>
<div class="area_btn">
<button type="button" class="btn_close">닫기</button>
</div>
</div>
</div>

<script id="sp_job_category_auto_complete_tmpl" type="text/x-handlebars-template">
{{#list}}
<li>
    <div class="InpBox">
        <div class="Chk">
            <input type="checkbox" id="{{name}}_{{code}}" name="{{name}}[]" value="{{code}}" data-mcls_cd_no="{{mclsCdNo}}" data-code="{{code}}" data-click_url="{{clickUrl}}" {{{checked}}}>
            <label class="lbl" for="{{name}}_{{code}}">{{highlight ../keyword text}}</label>
        </div>
    </div>
</li>
{{/list}}
</script>
<script id="sp_job_category_auto_complete_none_result_tmpl" type="text/x-handlebars-template">
<li>
    <div class="InpBox">
        <div class="Chk">
            <input type="checkbox" id="{{name}}" name="{{name}}" value="{{text}}">
            <label class="lbl" for="{{name}}" style="background:none;">{{highlight text text}} 키워드 검색어로 추가</label>
        </div>
    </div>
</li>
</script>
</div>
<!-- 카테고리 depth -->
<div class="details"> <!-- wrap_depth_category -->
<h4 class="blind">카테고리 선택</h4>

<div class="box_jobs">
<script id="sp_job_category_home_template" type="text/x-handlebars-template">
{{#mclsList}}
    {{#hasCountInJobCategory count}}
    <button type="button" class="btn_job" data-mcls_cd_no="{{mclsCdNo}}">{{mclsCdNm}}</button>
    {{/hasCountInJobCategory}}
{{/mclsList}}
</script><button type="button" class="btn_job" data-mcls_cd_no="16">기획·전략</button>
    <button type="button" class="btn_job" data-mcls_cd_no="14">마케팅·홍보·조사</button>
    <button type="button" class="btn_job" data-mcls_cd_no="3">회계·세무·재무</button>
    <button type="button" class="btn_job" data-mcls_cd_no="5">인사·노무·HRD</button>
    <button type="button" class="btn_job" data-mcls_cd_no="4">총무·법무·사무</button>

</div>

<div class="box_detail_jobs" style="display:none;">
<div class="box_onedepth">
<div class="wrap_scroll">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <ul class="list overview">
            <script id="sp_job_category_oneDepth_template" type="text/x-handlebars-template">
                {{#mclsList}}
                    {{#hasCountInJobCategory count}}
                    <li class="item_job depth1_btn_wrapper" id="depth1_btn_{{mclsCdNo}}">
                        <button type="button" data-mcls_cd_no="{{mclsCdNo}}" class="first_depth depth1_btn_{{mclsCdNo}}">
                            <span class="txt">{{mclsCdNm}} </span>
                            <span class="count">({{toStringByComma count}})</span>
                        </button>
                    </li>
                    {{/hasCountInJobCategory}}
                {{/mclsList}}
            </script><li class="item_job depth1_btn_wrapper" id="depth1_btn_16">
                        <button type="button" data-mcls_cd_no="16" class="first_depth depth1_btn_16">
                            <span class="txt">기획·전략 </span>
                            <span class="count">(11,166)</span>
                        </button>
                    </li>
                    <li class="item_job depth1_btn_wrapper" id="depth1_btn_14">
                        <button type="button" data-mcls_cd_no="14" class="first_depth depth1_btn_14">
                            <span class="txt">마케팅·홍보·조사 </span>
                            <span class="count">(9,869)</span>
                        </button>
                    </li>
                  
        </ul>
    </div>
</div>
</div>

<script id="sp_job_category_subDepth_template" type="text/x-handlebars-template">
<div class="box_detail_depth">
    <div class="row row_all_select">
        <input type="checkbox" id="all_check_onedepth_{{mclsCdNo}}" name="cat_mcls[]" class="select_all" data-code="{{mclsCdNo}}" data-mcls_cd_no="{{mclsCdNo}}" data-mcls_cd_nm="{{mclsCdNm}}">
        <label for="all_check_onedepth_{{mclsCdNo}}"><span>{{mclsCdNm}} 전체선택</span></label>
        <span class="inpSel">
            <select class="select_sort" title="정렬방법">
                <option value="default">가나다순</option>
                <option value="favor">공고많은순</option>
            </select>
        </span>
    </div>

    <div class="row list">
        <div class="wrap_scroll">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                <div class="overview">
                    {{#sclsList}}
                    <dl class="row_item">
                        <dt>
                            <button type="button" class="btn_expand" data-scls_cd_no="{{sclsCdNo}}"><span class="txt">{{sclsCdNm}}</span></button>
                        </dt>
                        <dd class="area_list">
                            {{#kewdList}}
                            <button type="button" name="cat_kewd[]" class="btn_three_depth"
                                    data-code="{{kewdCdNo}}" data-mcls_cd_no="{{../mclsCdNo}}" data-mcls_cd_nm="{{../mclsCdNm}}"
                                    data-kewd_cd_no="{{kewdCdNo}}" data-kewd_cd_nm="{{kewdCdNm}}" data-sort="{{sort}}"
                                    data-count="{{count}}">{{kewdCdNm}}<span class="count">({{toStringByComma count}})</span></button>
                            {{/kewdList}}
                        </dd>
                    </dl>
                    {{/sclsList}}
                </div>
            </div>
        </div>
    </div>
</div>
</script>
</div>
</div>            </div>
                    <div class="option_content keyword_section">
    <h2 class="blind">검색어 입력</h2>
<div class="layer_search_keyword no_suggest" id="keywordAutoComplete">
<div class="ipt_keyword">
<label for="total_ipt_keyword" class="blind">검색어 입력</label>
<input type="text" name="" id="total_ipt_keyword" class="search_keyword" maxlength="30" placeholder="검색어 입력" autocomplete="off">
</div>
<div class="total_recently_keyword wrap_scroll" style="display:none;">
<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
<div class="viewport">
<div class="overview">
    <strong class="tit">최근 본 검색어</strong>
    <ul></ul>
</div>
</div>
</div>
<div class="wrap_auto_complete wrap_scroll" id="wrapSuggestKeyword" style="display:none;">
<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
<div class="viewport">
<div class="overview">
    <ul class="auto_complete"></ul>
</div>
</div>
</div>
<div class="info_auto_complete">
<p>최근 검색어와 리스트를<br>확인 할 수 있으며, 찾고자 하는<br>검색어를 자동 완성해 드립니다.</p>
<button type="button" class="btn_auto">자동완성 켜기</button>
</div>
<div class="area_btn">
<button type="button" class="btn_auto">자동완성 <span class="on" id="onoff">끄기</span></button>
<button type="button" class="btn_close_auto">닫기</button>
</div>
</div>

<script type="text/template" id="tplRecentKeyword">
<li><button type="button" class="btn_keyword" data-value="{{keywordValue}}" data-type="recently" data-logging-flow="keyword_search">{{keyword}}</button> <button type="button" class="btn_del" data-value="{{keywordValue}}">삭제</button></li>
</script>

<script type="text/template" id="tplSuggestKeyword">
<li><button type="button" class="btn_keyword" data-value="{{keywordValue}}" data-type="auto" data-logging-flow="auto_keyword_search">{{keyword}}</button></li>
</script>            </div>
                <div class="option_content detail_option_section ">
<h2 class="blind">상세조건</h2>
<div id="sp_optional_wrapper" class="search_wrap wrap_detail_panel">
                <div class="base_area">
    <div id="sp_salary" class="option_box salary">
<h2 class="option_title">
<label for="salary">연봉</label>
</h2>
<div class="option_list">
<div class="sri_select">
<button type="button" class="ico_arr selected">전체</button>
<input type="hidden" id="sal_min" name="sal_min" data-pass-onload-refresh="y">
<ul id="sal_min_sel" class="list_opt">
    <li class="on"><a href="#none" class="link_opt" data-value="">전체</a></li>
                        <li><a href="#none" class="link_opt" data-value="8" data-description="2,400만원 이상">2,400만원 이상</a></li>
                        <li><a href="#none" class="link_opt" data-value="9" data-description="2,600만원 이상">2,600만원 이상</a></li>
                        <li><a href="#none" class="link_opt" data-value="10" data-description="2,800만원 이상">2,800만원 이상</a></li>
           
                </ul>
</div>
<span class="inpChk small check_nocareer">
<input type="checkbox" id="sal_cd" name="sal_cd" value="0" data-description="회사내규에 따름 포함" data-pass-onload-refresh="y">
<label class="lbl" for="sal_cd">회사내규에 따름 포함</label>
</span>
</div>
</div><div id="sp_work_type" class="option_box job_form article_fold " style="display:block;">
<h2 class="option_title">재택근무</h2>
<div class="option_list">
<div class="sub_box">
<ul>
    <li>
        <span class="inpChk small">
            <input type="checkbox" id="work_type" name="work_type" value="1" data-value="1" data-description="재택근무 가능" data-pass-onload-refresh="y">
            <label class="lbl" for="work_type">재택근무 가능</label>
        </span>
    </li>
</ul>
</div>
</div>
</div><div id="sp_industry" class="option_box job_field" style="display:block;">
<h2 class="option_title">업종</h2>
<div class="option_list depth1_wrapper">
                <ul>
                                            <li>
            <button type="button" id="sp_industry_1depth_1" class="btn_option job_category01 depth1" data-code="1">서비스업</button>
        </li>
                                                                <li>
            <button type="button" id="sp_industry_1depth_7" class="btn_option job_category02 depth1" data-code="7">의료·제약·복지</button>
        </li>
                                                                <li>
            <button type="button" id="sp_industry_1depth_2" class="btn_option job_category03 depth1" data-code="2">제조·화학</button>
        </li>
                                                               
                                    </ul>
        <ul>
                                            <li>
            <button type="button" id="sp_industry_1depth_10" class="btn_option job_category10 depth1" data-code="10">기관·협회</button>
        </li>
                                    </ul>
</div>
<script id="sp_industry_tmpl" type="text/x-handlebars-template">
<div class="sub_depth_box sub_depth_wrapper" style="display:none">
<div class="sub_depth2 depth2_wrapper">
    <ul>
        {{#list}}
        <li id="sp_industry_2depth_{{code}}" class="depth2" data-code="{{code}}" data-description="{{text}}">{{text}}</li>
        {{/list}}
    </ul>
</div>
<div class="sub_depth3 depth3_wrapper">
    {{#sub_list}}
    {{{html}}}
    {{/sub_list}}
    <div class="reset_wrap">
        <button type="reset" class="btn_reset">선택 초기화</button>
        <button type="button" class="btn_close">닫기</button>
    </div>
</div>
</div>
</script>
<script id="sp_industry_sub_tmpl" type="text/x-handlebars-template">
<ul id="sp_industry_3depth_{{bcode}}" class="depth3" data-bcode="{{bcode}}" style="display:none">
<li>
    <span class="inpChk small">
        <input type="checkbox" id="ind_cd_{{bcode}}" name="ind_cd[]" value="{{bcode}}" data-mcode="{{mcode}}" data-description="{{bcode_text}}>전체" data-pass-onload-refresh="y">
        <label class="lbl txt_point" for="ind_cd_{{bcode}}">전체</label>
    </span>
</li>
{{#list}}
<li>
    <span class="inpChk small">

        <input type="checkbox" id="ind_key_{{code}}" name="ind_key[]" value="{{code}}" data-mcode="{{../mcode}}" data-bcode="{{../bcode}}" data-description="{{../bcode_text}}>{{text}}" data-pass-onload-refresh="y">
        <label class="lbl" for="ind_key_{{code}}">{{text}}</label>
    </span>
</li>
{{/list}}
</ul>
</script>
</div><div id="sp_company_type" class="option_box company_form article_fold">
<h2 class="option_title">기업형태</h2>
<div class="option_list">
        <div class="sub_box">
    <ul>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_scale001" name="company_type[]" value="scale001" data-description="대기업" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_scale001">대기업</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_scale002" name="company_type[]" value="scale002" data-description="매출1000대기업" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_scale002">매출1000대기업</label>
                </span>
                                        </li>
                                
                        </ul>
</div>
        <div class="sub_box">
    <ul>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_foreign" name="company_type[]" value="foreign" data-description="외국계(법인/투자)" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_foreign">외국계(법인/투자)</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_public" name="company_type[]" value="public" data-description="공사·공기업" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_public">공사·공기업</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_laboratory" name="company_type[]" value="laboratory" data-description="연구소" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_laboratory">연구소</label>
                </span>
                                        </li>
                                
                        </ul>
</div>
        <div class="sub_box">
    <ul>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_kosdaq" name="company_type[]" value="kosdaq" data-description="코스닥" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_kosdaq">코스닥</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_kospi" name="company_type[]" value="kospi" data-description="코스피" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_kospi">코스피</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_konex" name="company_type[]" value="konex" data-description="코넥스" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_konex">코넥스</label>
                </span>
                                        </li>
                        </ul>
</div>
        <div class="sub_box">
    <ul>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_stock" name="company_type[]" value="stock" data-description="주식회사" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_stock">주식회사</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_incorporated" name="company_type[]" value="incorporated" data-description="유한회사" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_incorporated">유한회사</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_cooperative" name="company_type[]" value="cooperative" data-description="협동조합" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_cooperative">협동조합</label>
                </span>
                                        </li>
                                
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_ex_audit" name="company_type[]" value="ex_audit" data-description="외부감사법인" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_ex_audit">외부감사법인</label>
                </span>
                                                <div class="toolTipWrap company_form_guide">
                        <button type="button" class="tooltip_btn"><span class="blind">외부감사법인 이란?</span></button>
                        <div class="toolTip">
                            <span class="tail tail_bottom_left"></span>
                            <div class="toolTipCont">
                                <strong class="toolTipTit">외부감사법인 이란?</strong>
                                <p>직전연도 자산총액 70억원 이상인<br>기업으로 외부의 감사인으로부터<br>감사를 받은 법인입니다.</p>
                            </div>
                        </div>
                    </div>
                                        </li>
                        </ul>
</div>
        <div class="sub_box">
    <ul>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_military" name="company_type[]" value="military" data-description="병역특례 인증 업체" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_military">병역특례 인증 업체</label>
                </span>
                                        </li>
                                <li>
                <span class="inpChk small">
                    <input type="checkbox" id="company_type_ex_import" name="company_type[]" value="ex_import" data-description="수출입기업" data-pass-onload-refresh="y">
                    <label class="lbl" for="company_type_ex_import">수출입기업</label>
                </span>
                                        </li>
                        </ul>
</div>
    <div class="set_open">
<button type="reset" class="btn_reset">선택 초기화</button>
<button type="button" class="btn_set btn_spread_item">펼치기</button>
</div>
</div>
</div><div id="sp_job_type" class="option_box job_form article_fold" style="display:block;">
<h2 class="option_title">근무형태</h2>
<div class="option_list">
<div class="sub_box">
<ul>
                        <li>
            <span class="inpChk small">
                <input type="checkbox" id="job_type_1" name="job_type[]" value="1" data-value="1" data-description="정규직" data-pass-onload-refresh="y">
                <label class="lbl" for="job_type_1">정규직</label>
            </span>
        </li>
                        <li>
            <span class="inpChk small">
                <input type="checkbox" id="job_type_2" name="job_type[]" value="2" data-value="2" data-description="계약직" data-pass-onload-refresh="y">
                <label class="lbl" for="job_type_2">계약직</label>
            </span>
        </li>
                   
                </ul>
</div>
<div class="set_open">
<button type="reset" class="btn_reset">선택 초기화</button>
<button type="button" class="btn_set btn_spread_item">펼치기</button>
</div>
</div>
</div><div id="sp_work_day" class="option_box job_day article_fold">
<h2 class="option_title">근무요일</h2>
<div class="option_list">
<div class="sub_box">
<ul>
                        <li>
            <span class="inpChk small">
                <input type="checkbox" id="workday_wsh010" name="workday[]" value="wsh010" data-value="wsh010" data-description="주 5일(월~금)" data-pass-onload-refresh="y">
                <label class="lbl" for="workday_wsh010">주 5일(월~금)</label>
            </span>
        </li>
                        <li>
            <span class="inpChk small">
                <input type="checkbox" id="workday_wsh030" name="workday[]" value="wsh030" data-value="wsh030" data-description="주 6일(월~토)" data-pass-onload-refresh="y">
                <label class="lbl" for="workday_wsh030">주 6일(월~토)</label>
            </span>
        </li>
                    
                </ul>
</div>
<div class="set_open">
<button type="reset" class="btn_reset">선택 초기화</button>
<button type="button" class="btn_set btn_spread_item">펼치기</button>
</div>
</div>
</div><div id="sp_welfare">
<div class="option_box welfare">
<h2 class="option_title">복리후생</h2>
<div class="option_list">
<button type="button" class="btn_welfare">검색하기</button>
</div>
</div>

<div id="sp_welfare_layer" class="layer_pop_manage search_layer welfare_list">
<h4>복리후생 선택</h4>
<p class="txt">* 최대 7개 까지 선택 가능합니다.</p>
<div class="layer_btn_area">
<button type="reset" class="btn_reset">전체선택 초기화</button>
</div>
<div class="table_scroll">
<table class="default_table welfare_select_table">
    <caption>복리후생 리스트</caption>
    <colgroup>
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
    </colgroup>
    <tbody>
                        <tr>
                                        <th>지원금/보험</th>
                                        <th>급여제도</th>
                                        <th>선물</th>
                                        <th>교육/생활</th>
                                        <th>근무 환경</th>
                                </tr>
        <tr>
                                        <td>
                    <ul class="chk_list">
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp407" name="welfare_cd[]" value="corp407" data-description="건강검진" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp407">건강검진</label>
                                </span>
                            </li>
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp408" name="welfare_cd[]" value="corp408" data-description="의료비지원(본인)" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp408">의료비지원(본인)</label>
                                </span>
                            </li>
                                                                
                                                        </ul>
                </td>
                                        <td>
                    <ul class="chk_list">
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp400" name="welfare_cd[]" value="corp400" data-description="퇴직연금" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp400">퇴직연금</label>
                                </span>
                            </li>
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp401" name="welfare_cd[]" value="corp401" data-description="인센티브제" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp401">인센티브제</label>
                                </span>
                            </li>
                                                                
                                                        </ul>
                </td>
                                </tr>
                        <tr>
                                        <th>조직문화</th>
                                        <th>출퇴근</th>
                                        <th>리프레시</th>
                                </tr>
        <tr>
                                        <td>
                    <ul class="chk_list">
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp309" name="welfare_cd[]" value="corp309" data-description="무제한 연차" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp309">무제한 연차</label>
                                </span>
                            </li>
                                                                <li class="chk_item">
                                <span class="inpChk small">
                                    <input type="checkbox" id="welfare_cd_corp430" name="welfare_cd[]" value="corp430" data-description="노조/노사협의회" data-pass-onload-refresh="y">
                                    <label class="lbl" for="welfare_cd_corp430">노조/노사협의회</label>
                                </span>
                            </li>
                                                           
                                                        </ul>
                </td>
                                </tr>
                    </tbody>
</table>
</div>
<div class="bottom_btn_wrap">
<button type="button" class="btn_basic_type01 btn_register">선택완료</button>
</div>
<button type="button" class="btn_close"><span>닫기</span></button>
</div>

<script id="sp_welfare_selected_result_tmpl" type="text/x-handlebars-template">
<div id="sp_welfare_selected_result" class="select_result">
<button type="reset" class="btn_reset">선택 초기화</button>
</div>
</script>
<script id="sp_welfare_selected_result_item_tmpl" type="text/x-handlebars-template">
<span id="{{id}}">{{name}}<button type="button" class="remove-btn">삭제</button></span>
</script>
</div><div id="sp_keyword" class="option_box search_word">
<h2 class="option_title">제외 검색어</h2>
<div class="option_list">
<div class="search_word_wrap select_space">
<input type="text" id="exc_keyword" name="exc_keyword" class="inpTypo placeholder" data-description="제외 > " maxlength="20" title="여러 개의 단어를 입력하실 때는 쉼표( , )로 구분해서 입력하세요.(예. 디자인, 웹, 마케팅)">
<button type="button" class="btn_input_delete btn_reset_exclude"><span>삭제</span></button>
</div>
</div>
</div>            </div>
</div>
</div>
</div>
</div>
<div class="bg"></div>
<div id="sp_preview" class="wrap_search_result preview_v2 searching resetting" style="display:none">
<div class="add_keyword">
<div id="sp_preview_selected" class="keywords"></div>
<p class="result_txt">채용공고를 찾고 있습니다. 잠시만 기다려주세요.</p>
<p class="reset_txt">검색조건을 설정해 주세요.</p>
</div>
<div class="area_btn">
<button type="button" class="btn_expand">펼쳐보기</button>
<button type="button" class="btn_reset">선택초기화</button>
</div>
<button type="button" id="search_btn" class="btn_search active">
<span>
<span class="count"><span id="search_count_txt">선택된 </span><b id="sp_preview_total_cnt">0</b>건</span>
<span id="search_btn_txt">검색하기</span>
</span>
<span class="ripple"></span>
</button>
</div>

<script id="sp_preview_selected_item_tmpl" type="text/x-handlebars-template">
<span class="selected_keyword">{{text}}<button type="button" id="{{id}}" data-code="{{code}}" class="btn_del remove-btn {{classNm}}">삭제</button></span>
</script>            </div>