<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div th:if="${upd}" class="alert alert-primary alert-dismissable">
    <span th:text="${upd}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">

    <div class="py-5 text-center">
        <h2>게시물상세</h2>
    </div>

    

    <div>
		<input type="hidden" id="boardId" name="boardId" th:value="${board.id}">
		<input type="hidden" id="boardGroupId" name="boardGroupId" th:value="${board.boardGroupId}">
		
        <label for="boardTitle">제목</label>
        <input type="text" id="boardTitle" name="boardTitle" class="form-control" value="1" th:value="${board.title}" readonly>
    </div>
    <div>
        <label for="boardContent">내용</label>
        <input type="text" id="boardContent" name="boardContent" class="form-control" value="상품A" th:value="${board.content}" readonly>
    </div>
    <div>
        <label for="readCount">조회수</label>
        <input type="text" id="readCount" name="readCount" class="form-control" value="10000" th:value="${board.readCount}" readonly>
    </div>
    <div>
        <label for="memberNickname">작성자</label>
        <input type="text" id="memberNickname" name="memberNickname" class="form-control" value="10" th:value="${board.nickname}" readonly>
    </div>

    
	
    
   
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
		        onclick="location.href='edit.html'"
		        th:onclick="|location.href='@{/board/{id}/edit(id=${board.id})}'|"
		        type="button">게시글 수정</button>
        </div>
        
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
		        onclick="location.href='list.html'"
		        th:onclick="|location.href='@{/board/{id}/delete(id=${board.id})}'|"
		        type="button">게시글 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
		        onclick="location.href='list.html'"
		        th:onclick="|location.href='@{/board/list/{boardGroupId}}(boardGroupId=${board.boardGroupId})'|"
		        type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>