<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Body-->
<!-- Header -->
<div th:insert="include_common :: header"></div>
<body>
<th:block layout:fragment="content">
	<!-- Off-Canvas Wrapper-->
	<div class="offcanvas-wrapper">
		<!-- Page Content-->
		<!-- Main Slider-->
		<section class="hero-slider"
			style="background-image: url(img/hero-slider/main-bg.jpg);">
			<div class="page-title">
				<div class="container">
					<div class="column">
						<h1>내 정보</h1>
					</div>
				</div>
			</div>
			<!-- Page Content-->
			<div class="container padding-bottom-3x mb-2">
				<div class="row">
					<div class="col-lg-4" th:insert="mypage_component :: mypage">
						
					</div>
					<div class="col-lg-8">
						<div class="padding-top-2x mt-2 hidden-lg-up"></div>
						<form class="row" name="f" th:object="${loginUser}" method="post" >
						<input type="hidden" name="userName" value="guard" th:value="*{userName}"/>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-email">E-mail 주소</label> <input name="email" value="guard" th:value="*{email}"
										class="form-control" type="email" id="reg-email" disabled>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-phone">휴대폰 번호</label> <input name="phoneNo" value="guard" th:value="*{phoneNo}"
										class="form-control" type="text" id="reg-phone" disabled>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-nickname">닉네임</label> <input name="nickname" value="guard" th:value="*{nickname}"
										class="form-control" type="text" id="reg-nickname" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-birthday">생년월일</label> <input name="birthday" value="guard" th:value="*{birthday}"
										class="form-control" type="text" id="reg-birthday" disabled>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-pass">비밀번호</label> <input name="password" value="guard" th:value="*{password}"
									class="form-control" type="password" id="reg-pass" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="reg-pass-confirm">비밀번호 확인</label> <input
										class="form-control" type="password" id="reg-pass-confirm"
										required>
								</div>
							</div>
							<div class="col-sm-12">
			                <div class="form-group">
			                  <label for="reg-address">주소</label>
			                  <input class="form-control" name="address" value="guard" th:value="*{address}"
			                  type="text" id="reg-address" required>
			                </div>
			              </div>
							<div class="col-12">
								<hr class="mt-2 mb-3">
								<div
									class="d-flex flex-wrap justify-content-between align-items-center">
									<div class="custom-control custom-checkbox d-block"></div>
									<button class="btn btn-primary margin-right-none" type="button"
										data-toast data-toast-position="topRight"
										data-toast-type="success" data-toast-icon="icon-circle-check"
										data-toast-title="Success!"
										data-toast-message="수정되었습니다!"
										onclick="modify()">수정하기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		</th:block>
		<div th:insert="include_common :: footer"></div>
	</div>


	<!-- Back To Top Button-->
	<a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
	<!-- Backdrop-->
	<div class="site-backdrop"></div>
	<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
	<script src="/bootstrap/js/vendor.min.js"></script>
	<script src="/bootstrap/js/scripts.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validate/1.19.3/jquery.validate.min.js"></script>
	<script type="text/javascript">
	function modify() {
		document.f.action = "/member/member_modify_action";
		document.method = 'POST';
		document.f.submit();

	}
	$(document).ready(function () {
        $("#f").validate({
            rules: {
                name: "required",
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                name: "이름을 입력하세요.",
                email: {
                    required: "이메일을 입력하세요.",
                    email: "올바른 이메일 형식을 입력하세요."
                }
            }
        });
    });
	</script>
</body>
</html>