<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='회원가입')">
  <!-- Body-->
	  <!-- Header -->
    <head>

	</head>
  
  <th:block layout:fragment="content">
  <body>

      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x">회원가입</h3>
            <form class="row" name="f" id="form-account-regist" method="post" >
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-username">아이디</label>
                  <input class="form-control"  name="userName" type="text" id="reg-username" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-name">이름</label>
                  <input class="form-control"  name="name" type="text" id="reg-name" required>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-email">E-mail 주소</label>
                  <input class="form-control"  name="email" type="email" placeholder="ex) email@google.com" id="reg-email" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-phone">휴대폰 번호</label>
                  <input class="form-control"  name="phoneNo" type="text" placeholder="ex) 010-1111-1111" id="reg-phone" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-nickname">닉네임</label>
                  <input class="form-control"  name="nickname" type="text" id="reg-nickname" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-birthday">생년월일</label>
                  <input class="form-control"  name="birthday" type="date" id="reg-birthday" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-pass">비밀번호</label>
                  <input class="form-control" name="password"  type="password" id="reg-pass" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-pass-confirm">비밀번호 확인</label>
                  <input class="form-control" name="password2"  type="password" id="reg-pass-confirm" required>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="reg-address">주소</label>
                  <input class="form-control" name="address"  type="text" id="reg-address" required>
                </div>
              </div>
              <div class="col-12 text-center text-sm-right">
                <button class="btn-account-register btn btn-primary margin-bottom-none" id="join-action-btn" type="submit">회원가입</button>
                <button class="btn-account-reset btn btn-primary margin-bottom-none"  type="reset">초기화</button>
              </div>
            </form>
          </div>
      </div>
    </th:block>
    
    <th:block layout:fragment="script" >
     <script type="text/javascript">
		  /**************** 회원가입 **********************/
function isNoValidEmail(email) {
    // 간단한 이메일 유효성 검사를 수행합니다.
    const emailRegex = /^[A-Z0-9._%+]+@[A-Z0-9.]+\.[A-Z]{2,}$/i;
    if(emailRegex.test(email)) {
		return false;
	}
    return true;
}
function isNoValidPassword(password) {
    // 비밀번호 길이가 8에서 20 사이여야 함
    // 최소한 하나의 문자, 하나의 숫자, 그리고 하나의 특수 문자가 포함되어야 함
    const hasLetter = /[a-zA-Z]/.test(password);
    const hasNumber = /\d/.test(password);
    const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password);
    if(!(hasLetter && hasNumber && hasSpecialChar)){
	    return true;
	}
	return false;
}
function isNoValidPhoneNo(phoneNo) {
    // 010-1234-1234 형식의 휴대폰 번호 유효성 검사를 수행합니다.
    const phoneRegex = /^01[0-9]-\d{3,4}-\d{4}$/;
    if(phoneRegex.test(phoneNo)) {
		return false;
	}
    return true;
}
var account_join_action_rest=function(data){
		console.log('33333');
		
		$.ajax({
				url:'/member/join_rest',
				method:'POST',
				data:JSON.stringify(data),
				dataType:'json',
				contentType: 'application/json;chrset=UTF-8',
				success:function(resultJson){
					if(resultJson.result==1){
						$('#reg-username').css('border','0.5px solid orange');
						$('#reg-username').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#reg-username').tooltip('show');
					} else if(resultJson.result==2) {
						$('#reg-email').css('border','0.5px solid orange');
						$('#reg-email').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#reg-email').tooltip('show');
					} else if(resultJson.result==3) {
						$('#reg-phone').css('border','0.5px solid orange');
						$('#reg-phone').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#reg-phone').tooltip('show');
					} else if(resultJson.result==4) {
						$('#reg-nickname').css('border','0.5px solid orange');
						$('#reg-nickname').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#reg-nickname').tooltip('show');
					} else {
						alert("회원가입을 환영합니다!!");
						location.href="/member_login_form";
						/*$('#form-account-regist').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#form-account-regist').tooltip('show');
			    		$('#form-account-regist input').each(function(i,e){
			    			$(e).fadeOut('slow',function(){
			    				$(e).val("");
			    				$(e).fadeIn('slow',function(){
			    					$('#form-account-regist').tooltip('dispose');
			    				});
			    			});
			    			
			    		});*/
		   			}
				}
			});
			
};
$(function(){
    		/**************회원가입폼 유효성체크*********************/
    		$('#form-account-regist').on('propertychange change keyup paste input',function(e){
				if($('#reg-username').val().length < 8 || $('#reg-username').val().length > 20){
        			$('#reg-username').css('border','0.5px dotted orange');
        			$('#reg-username').tooltip({'trigger':'hover', 'title':'아이디는 8 ~ 20자 이내여야 합니다'});
        			$('#reg-username').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-username').css('border','');
        			$('#reg-username').tooltip('hide');
        			$('#reg-username').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-pass').val().length < 8 || $('#reg-pass').val().length > 20){
        			$('#reg-pass').css('border','0.5px dotted orange');
        			$('#reg-pass').tooltip({'trigger':'hover', 'title':'비밀번호는 8 ~ 20자 이내여야 합니다.'});
        			$('#reg-pass').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else if(isNoValidPassword($('#reg-pass').val())) {
					$('#reg-pass').css('border','0.5px dotted orange');
        			$('#reg-pass').tooltip({'trigger':'hover', 'title':'최소한 하나의 문자, 숫자, 특수 문자가 포함되어야 합니다.'});
        			$('#reg-pass').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
				} else {
					$('#reg-pass,#reg-pass-confirm').css('border','');
        			$('#reg-pass-confirm').tooltip('hide');
        			$('#reg-pass-confirm').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
				}
        		if($('#reg-pass').val()!=$('#reg-pass-confirm').val()){
        			$('#reg-pass,#reg-pass-confirm').css('border','0.5px dotted orange');
        			$('#reg-pass-confirm').tooltip({'trigger':'hover', 'title':'비밀번호와 비밀번호확인이 일치하여야합니다.'});
        			$('#reg-pass-confirm').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-pass,#reg-pass-confirm').css('border','');
        			$('#reg-pass-confirm').tooltip('hide');
        			$('#reg-pass-confirm').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if(isNoValidEmail($('#reg-email').val())) {
        			$('#reg-email').css('border','0.5px dotted orange');
        			$('#reg-email').tooltip({'trigger':'hover', 'title':'올바른 이메일 형식이 아닙니다.'});
        			$('#reg-email').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-email').css('border','');
        			$('#reg-email').tooltip('hide');
        			$('#reg-email').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if(isNoValidPhoneNo($('#reg-phone').val())) {
        			$('#reg-phone').css('border','0.5px dotted orange');
        			$('#reg-phone').tooltip({'trigger':'hover', 'title':'올바른 번호 형식이 아닙니다.'});
        			$('#reg-phone').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-phone').css('border','');
        			$('#reg-phone').tooltip('hide');
        			$('#reg-phone').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-name').val()=="") {
        			$('#reg-name').css('border','0.5px dotted orange');
        			$('#reg-name').tooltip({'trigger':'hover', 'title':'입력하세요.'});
        			$('#reg-name').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-name').css('border','');
        			$('#reg-name').tooltip('hide');
        			$('#reg-name').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-birthday').val()=="") {
        			$('#reg-birthday').css('border','0.5px dotted orange');
        			$('#reg-birthday').tooltip({'trigger':'hover', 'title':'선택하세요.'});
        			$('#reg-birthday').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-birthday').css('border','');
        			$('#reg-birthday').tooltip('hide');
        			$('#reg-birthday').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if(new Date($('#reg-birthday').val()) > new Date()) {
        			$('#reg-birthday').css('border','0.5px dotted orange');
        			$('#reg-birthday').tooltip({'trigger':'hover', 'title':'선택할 수 없는 날짜 입니다.'});
        			$('#reg-birthday').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-birthday').css('border','');
        			$('#reg-birthday').tooltip('hide');
        			$('#reg-birthday').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-address').val()=="") {
        			$('#reg-address').css('border','0.5px dotted orange');
        			$('#reg-address').tooltip({'trigger':'hover', 'title':'입력하세요.'});
        			$('#reg-address').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-address').css('border','');
        			$('#reg-address').tooltip('hide');
        			$('#reg-address').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-nickname').val()=="") {
        			$('#reg-nickname').css('border','0.5px dotted orange');
        			$('#reg-nickname').tooltip({'trigger':'hover', 'title':'입력하세요.'});
        			$('#reg-nickname').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-nickname').css('border','');
        			$('#reg-nickname').tooltip('hide');
        			$('#reg-nickname').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        		if($('#reg-pass').val()=="") {
        			$('#reg-pass').css('border','0.5px dotted orange');
        			$('#reg-pass').tooltip({'trigger':'hover', 'title':'입력하세요.'});
        			$('#reg-pass').tooltip('show');
        			$('#join-action-btn').attr('disabled', 'disabled');
        		} else {
        			$('#reg-pass').css('border','');
        			$('#reg-pass').tooltip('hide');
        			$('#reg-pass').tooltip('dispose');
        			$('#join-action-btn').removeAttr('disabled');
        		}
        	});
    		/**********회원가입submit버튼[ajax]************/
        	$('#form-account-regist').on('submit',function(e){
        		console.log('11111111');
    			//var params=$(e.target).serialize();
    			let regUserName = $('#reg-username').val();
				let regName = $('#reg-name').val();
				let regBirthday = $('#reg-birthday').val();
				let regEmail = $('#reg-email').val();
				let regPhone = $('#reg-phone').val();
				let regNickname = $('#reg-nickname').val();
				let regPassword = $('#reg-pass').val();
				let regAddress = $('#reg-address').val();
    			let data = {
				"userName" : regUserName, //안되면 ' ' 붙이기
				"name" : regName,
				"birthday" : regBirthday,
				"email" : regEmail,
				"phoneNo" : regPhone,
				"nickname" : regNickname,
				"password" : regPassword,
				"address" : regAddress,
				
			}
    			$('#reg-username').css('border','');
    			$('#reg-username').tooltip('dispose');
    			$('#form-account-regist').tooltip('dispose');
        		console.log('222222');
        		account_join_action_rest(data);
        		console.log('444444');
    			e.preventDefault();
    		});
});

	
</script>
</th:block>
  </body>
</html>