<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='비밀번호 찾기')">
<head>
</head>
<body>
      <th:block layout:fragment="content">
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2>비밀번호를 잊어버리셨나요?</h2>
            <p>임시 비밀번호 발급</p>
            <ol class="list-unstyled">
              <li><span class="text-primary text-medium">1. </span>아이디를 입력하세요.</li>
              <li><span class="text-primary text-medium">2. </span>해당 아이디에 등록된 이메일을 입력하세요.</li>
              <li><span class="text-primary text-medium">3. </span>해당 이메일로 보낸 인증번호를 입력하세요.</li>
              <li><span class="text-primary text-medium">4. </span>인증번호가 인증되면 해당 이메일로 임시 비밀번호를 발급합니다.</li>
            </ol>
            <form class="card mt-2" id="find_password_form" style="width: 25rem;">
              <div class="card-body">
                <div class="form-group">
                  <label for="username">아이디</label>
                  <input class="form-control" type="text" name="username" id="username" required>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group" id="mail_input" name="mail_input">
                  <label for="reg-email">E-mail 주소</label>
                  <input class="form-control"  name="email" type="email" placeholder="ex) email@google.com" id="email" required>
			      <button class="btn-account-register btn btn-primary margin-bottom-none"
			       type="button" id="sendBtn" name="sendBtn" onclick="member_find_action_rest()">이메일 인증</button>
                </div>
              </div>
              <div class="card-body">
				<div class="form-group" id="mail_number" name="mail_number" style="display: none">
				  <label for="mail_number">인증번호</label>
				  <input class="form-control" type="text" name="number" id="number" placeholder="인증번호 입력" required>
				  <button class="btn-account-register btn btn-primary margin-bottom-none"
				     type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">인증번호 확인</button>
				</div>
              </div>
              <br>
			    <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
              <div class="col-12 text-center text-sm-left">
                <button class="btn-account-register btn btn-primary" id="btn-temporary-pass" type="button">임시 비밀번호 발급</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </th:block>
      <th:block layout:fragment="script" >
     <script type="text/javascript">
let emailCheck = false;
let tempEmail = "";
let member_find_action_rest=function(){
	let username = $('#username').val();
	let email = $('#email').val();
	let userData = {
	"userName" : username,
	"email" : email
	}
			$.ajax({
					url:'/member/findpass_rest',
    				method:'post',
    				data:JSON.stringify(userData),
    				dataType: "json",
    				contentType: 'application/json;charset=UTF-8',
    				success:function(resultJson){
					if(resultJson.result==0) {
						$('#username').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#username').tooltip('show');
					} else if(resultJson.result==1){
			    		$('#username').tooltip('hide');
			    		$('#username').tooltip('dispose');
						$('#email').css('border','0.5px solid orange');
						$('#email').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#email').tooltip('show');
		   			} else {
						$('#username').css('border','0.5px solid green');
						$('#email').css('border','0.5px solid green');
			    		$('#email').tooltip('hide');
			    		$('#email').tooltip('dispose');
			    		$('#number').tooltip('dispose');
			    		$("#mail_number").css("display","block");
						$.ajax({
					    url:"/emailAuthentication",
					    type:"post",
					    dataType:"json",
					    data:{"mail" : $("#email").val()},
					    success: function(data){
					        alert("인증번호 발송");
					        $("#Confirm").attr("value",data);
					        emailCheck = false;
					    },
					    error: function(){
							alert("인증번호 발송 실패");
						}
					});
				  }
				},
				error:function(){
					alert("서버 오류.");
				}
			});
		};


function confirmNumber(){
    let number1 = $("#number").val();
    let number2 = $("#Confirm").val();

    if(number1 == number2){
		$('#number').css('border','0.5px solid green');
		$('#number').tooltip('show');
		$('#number').tooltip({'trigger':'hover', 'title':'인증번호가 일치합니다.'});
		setTimeout(function() {
	    $('#number').tooltip('dispose');
	    }, 2000);
	    // 이메일 인증 성공여부 check
        emailCheck = true;
        tempEmail = $('#email').val();
    }else{
        $('#number').css('border','0.5px dotted orange');
		$('#number').tooltip('show');
		$('#number').tooltip({'trigger':'hover', 'title':'인증번호가 일치하지 않습니다.'});
		setTimeout(function() {
	    $('#number').tooltip('dispose');
	    }, 2000);
	    emailCheck = false;
    }
}
$('#btn-temporary-pass').on('click',function(e){
	if(check){
    					$.ajax({
					    url:"/findEmailAuthentication",
					    type:"post",
					    dataType:"json",
					    //이메일 인증을 하고 임시비밀번호 발급을 누르기전에 이메일을 변경할수도 있으므로
					    data:{"mail" : tempEmail},
					    success: function(data){
					        alert("임시 비밀번호 발송");
					        $("#Confirm").attr("value",data);
					    },
					    error: function(){
							alert("임시 비밀번호 발송 실패");
						}
					});
	} else {
		$('#number').css('border','0.5px dotted orange');
		$('#number').tooltip('show');
		$('#number').tooltip({'trigger':'hover', 'title':'인증번호가 일치하지 않습니다.'});
		setTimeout(function() {
	    $('#number').tooltip('hide');
	    $('#number').tooltip('dispose');
	    }, 2000);
	}
});
</script>
</th:block>
  </body>
  </html>