<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Body-->
<!-- Header -->
<div th:insert="include_common :: header"></div>

<body>
	<!-- Off-Canvas Wrapper-->
	<div class="offcanvas-wrapper">
		<!-- Page Content-->
		<!-- Main Slider-->
		<section class="hero-slider"
			style="background-image: url(img/hero-slider/main-bg.jpg);">

			<!-- content 시작 -->
			<div class="offcanvas-wrapper">
				<!-- Page Title-->
				<div class="page-title">
					<div class="container">
						<div class="column">
							<h1>장바구니</h1>
						</div>
						<div class="column">
							<ul class="breadcrumbs">
								<li><a href="index.html">홈</a></li>
								<li class="separator">&nbsp;</li>
								<li>장바구니</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Page Content-->
				<div class="container padding-bottom-3x mb-1">
					<!-- Shopping Cart-->
					<div class="table-responsive shopping-cart">
						<table class="table">
							<thead>
								<tr>
									<th class="cartAllCheck"><label><input
											type="checkbox" checked="checked" id="chkBasketAll"
											name="chkBasketAll" class="basket_CheckBox" onclick=""></label>
									</th>
									<th class="product-title-name">상품명</th>
									<th class="text-center">수량</th>
									<th class="text-center">결제액</th>
									<th class="text-center">할인가</th>
									<th class="text-center">주문 관리</th>
								</tr>
							</thead>
							<tbody>

								<!-- 반복문 가즈아 -->
								<tr th:each="cart : ${cart}">
									<td class="prd-check-td">
										<div class="prd-check">
											<input type="checkbox" checked="" name="" class="" onclick="">
											<input type="hidden" name="" value="">
										</div>
									</td>
									<td>
										<div class="product-item">
											<a class="product-thumb" href="shop-single.html" ><img
												src="img/shop/cart/01.jpg" th:src="${cart.pImage}" alt="Product"></a>
											<div class="product-info">
												<h4 class="product-title" th:text="${cart.productName}">
													<a href="shop-single.html">cart.name</a>
												</h4>
											 	<div th:each="option :${cart.options}">
												<!--  <span th:text="${option.name}"> Size:<a th:text="${option.value}">10.5</a> </span>-->
												<span th:text="${option.name + ': ' + option.value}">Size: 10.5</span>
												</div>


											</div>
										</div>
									</td>
									<td class="text-center">
										<div class="count-input">
											<select class="form-control">
												<option th:text="${cart.qty}">1</option>
												<option >2</option>
												<option >3</option>
												<option >4</option>
												<option >5</option>
											</select>
										</div>
									</td>
									<td class="text-center text-lg text-medium" th:text="${cart.totalPrice}*${cart.qty}">2,332,000</td>
									<td class="text-center text-lg text-medium">332,000</td>
									<td class="text-center" ><a href="javascript:void(0)"
										onclick="Cart.showOptionModifyLayer('3621137', 'M', '1', '921183653', '1', '159000'); return false;"
										class="plain-btn">옵션/수량</a> <a href="javascript:void(0)"
										onclick="Cart.deleteCart('921183653'); return false;"
										class="plain-btn">삭제하기</a></td>
								</tr>

								<!-- 반복문 끝 -->
							</tbody>
						</table>
					</div>
					<div class="shopping-cart-footer">

						<div class="column text-lg">
							총 결제금액: <span class="text-medium">$289.68</span>
						</div>
					</div>
					<div class="shopping-cart-footer">
						<div class="column">
							<a class="btn btn-outline-secondary" href="http://localhost/product">&nbsp;쇼핑
								계속하기</a>
						</div>
						<div class="column"></div>
						<div class="column">
							<a class="btn btn-selectdelete" href="checkout-address.html">선택삭제</a>
							<a class="btn btn-success" href="checkout-address.html">주문하기</a>
						</div>
					</div>
					<!-- Related Products Carousel-->
					<h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">이런
						상품은 어떠세요?</h3>
					<!-- Carousel-->
					<div class="owl-carousel"
						data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<div class="product-badge text-danger">22% Off</div>
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/09.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Rocket Dog</a>
								</h3>
								<h4 class="product-price">
									<del>$44.95</del>
									$34.99
								</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<div class="rating-stars">
									<i class="icon-star filled"></i><i class="icon-star filled"></i><i
										class="icon-star filled"></i><i class="icon-star filled"></i><i
										class="icon-star"></i>
								</div>
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/03.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Oakley Kickback</a>
								</h3>
								<h4 class="product-price">$155.00</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/12.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Vented Straw Fedora</a>
								</h3>
								<h4 class="product-price">$49.50</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<div class="rating-stars">
									<i class="icon-star filled"></i><i class="icon-star filled"></i><i
										class="icon-star filled"></i><i class="icon-star filled"></i><i
										class="icon-star filled"></i>
								</div>
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/11.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Top-Sider Fathom</a>
								</h3>
								<h4 class="product-price">$90.00</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/04.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Waist Leather Belt</a>
								</h3>
								<h4 class="product-price">$47.00</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
						<!-- Product-->
						<div class="grid-item">
							<div class="product-card">
								<div class="product-badge text-danger">50% Off</div>
								<a class="product-thumb" href="shop-single.html"><img
									src="img/shop/products/01.jpg" alt="Product"></a>
								<h3 class="product-title">
									<a href="shop-single.html">Unionbay Park</a>
								</h3>
								<h4 class="product-price">
									<del>$99.99</del>
									$49.99
								</h4>
								<div class="product-buttons">
									<button class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist">
										<i class="icon-heart"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product"
										data-toast-message="successfuly added to cart!">장바구니
										담기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content end -->
		</section>
		<div th:insert="include_common :: footer"></div>
	</div>


	<!-- Back To Top Button-->
	<a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
	<!-- Backdrop-->
	<div class="site-backdrop"></div>
	<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
	<script src="/bootstrap/js/vendor.min.js"></script>
	<script src="/bootstrap/js/scripts.min.js"></script>
</body>

</html>