<th:block th:fragment="product-card-component">
	<div class="product-card product-list"
		th:each="productDto : ${productList}">
		<!-- 최초 요청 -->
		<a class="product-thumb" href="product_detail.html"
			th:href="@{http://localhost/product${productDto.osId}}"> <img
			src="/bootstrap/img/shop/products/01.jpg" alt="Product"
			th:src="@{${productDto.pImage}}">
		</a>
		<div class="product-info">
			<h3 class="product-title">
				<a href="http://localhost/product${productDto.osId}"
					th:href="@{'http://localhost/product'+${productDto.osId}}"
					th:text="${productDto.name}">{{name}}</a>
			</h3>
			<h4 class="product-price" th:text="${productDto.totalPrice}+'원'">{{totalPrice}}원</h4>
			<div th:each="option : ${productDto.optionSet}">
				<div class="product-price"
					th:text="${option.name + ':' + option.value}">{{name}},
					{{value}}</div>
			</div>
			<div class="d-inline text-success"
				th:text="'등록일 : '+${productDto.updateTime}">{{updateTime}}</div>
			<div class="d-inline text-success">리뷰수</div>
			<div class="product-buttons">
				<button th:if="${session.sUserId!=null && isInterested}"
					class="btn btn-outline-secondary btn-sm btn-wishlist active"
					product-heart="${productDto.osId}" data-toggle="tooltip"
					title="Whishlist">
					<i class="icon-heart"></i>
				</button>
				<button th:unless="${session.sUserId!=null && isInterested}"
					class="btn btn-outline-secondary btn-sm btn-wishlist"
					product-heart="${productDto.osId}" data-toggle="tooltip"
					title="Whishlist">
					<i class="icon-heart"></i>
				</button>
				<button class="btn btn-outline-primary btn-sm" data-toast
					data-toast-type="success" data-toast-position="topRight"
					data-toast-icon="icon-circle-check" data-toast-title="Product"
					data-toast-message="successfuly added to cart!">Add to
					Cart</button>
			</div>
		</div>
	</div>


	<!-- 클라이언트 요청 
	<script id="main-product-item-template" type="text/x-handlebars-template">-->
	<div>
		{{#each data}}
	<div class="product-card product-list">
		<a class="product-thumb" href="http://localhost/product{{osId}}">
			<img src="{{pImage}}" alt="Product">
		</a>
		<div class="product-info">
			<h3 class="product-title">
				<a href="http://localhost/product{{osId}}">{{name}}</a>
			</h3>
			<h4 class="product-price">{{totalPrice}}원</h4>
			{{#each optionSet}}
			<div class="product-price">{{name}} : {{value}}</div>
			{{/each}}
			<div class="d-inline text-success">등록일 : {{updateTime}}</div>
			<div class="d-inline text-success">리뷰수</div>
			<div class="product-buttons">
				{{#if isInterested}}
				<button class="btn btn-outline-secondary btn-sm btn-wishlist active"
					product-heart="{{osId}}" data-toggle="tooltip" title="Whishlist">
					<i class="icon-heart"></i>
				</button>
				{{else}}
				<button class="btn btn-outline-secondary btn-sm btn-wishlist"
					product-heart="{{osId}}" data-toggle="tooltip" title="Whishlist">
					<i class="icon-heart"></i>
				</button>
				{{/if}}
				<button class="btn btn-outline-primary btn-sm" data-toast
					data-toast-type="success" data-toast-position="topRight"
					data-toast-icon="icon-circle-check" data-toast-title="Product"
					data-toast-message="successfuly added to cart!">Add to
					Cart</button>
			</div>
		</div>
	</div>
			{{/each}}
	</div>
	
	<!-- </script> -->



</th:block>